<a href="https://colab.research.google.com/github/VivianeSouza923/Python-Study/blob/main/An%C3%A1lise_e_Transforma%C3%A7%C3%A3o_de_Dados_com_pandas_Categoriza%C3%A7%C3%A3o_e_Tabelas_de_Frequ%C3%AAncia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('/content/Enem_Fortaleza_2021_DisciplinaProbabilidadeEstatística - Enem_Fortaleza_2021_DEEP_2.csv')
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,5,M,1,3,0,2,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,3,F,0,1,0,3,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,3,F,1,3,0,2,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,3,M,1,1,0,2,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,12,F,2,1,0,2,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,3,F,1,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,2,M,1,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,2,M,1,3,0,2,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,2,F,1,3,0,2,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,2,F,1,2,0,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# para conhecer um resumo conciso da base:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TP_FAIXA_ETARIA         9729 non-null   int64
 1   TP_SEXO                 9729 non-null   object
 2   TP_ESTADO_CIVIL         9729 non-null   int64
 3   TP_COR_RACA             9729 non-null   int64
 4   TP_ANO_CONCLUIU         9729 non-null   int64
 5   TP_ESCOLA               9729 non-null   int64
 6   TP_DEPENDENCIA_ADM_ESC  9729 non-null   int64
 7   TP_PRESENCA_CN          9729 non-null   int64
 8   TP_PRESENCA_CH          9729 non-null   int64
 9   TP_PRESENCA_LC          9729 non-null   int64
 10  TP_PRESENCA_MT          9729 non-null   int64
 11  CO_PROVA_CN             9729 non-null   int64
 12  CO_PROVA_CH             9729 non-null   int64
 13  CO_PROVA_LC             9729 non-null   int64
 14  CO_PROVA_MT             9728 non-null   float64
 15  NU_NOTA_CN              9728 non-null   object
 16  NU_NOTA_CH              9728 non-null   object
 17  NU_NOTA_LC              9728 non-null   object
 18  NU_NOTA_MT              9728 non-null   object
 19  TP_LINGUA               9728 non-null   float64
 20  TP_STATUS_REDACAO       9728 non-null   float64
 21  NU_NOTA_COMP1           9728 non-null   float64
 22  NU_NOTA_COMP2           9728 non-null   float64
 23  NU_NOTA_COMP3           9728 non-null   float64
 24  NU_NOTA_COMP4           9728 non-null   float64
 25  NU_NOTA_COMP5           9728 non-null   float64
 26  NU_NOTA_REDACAO         9728 non-null   float64
 27  Q001                    9728 non-null   object
 28  Q002                    9728 non-null   object
 29  Q006                    9728 non-null   object
dtypes: float64(9), int64(13), object(8)
memory usage: 2.2+ MB

In [9]:
tp_faixa_etaria = {
    1:'Menor de 17 anos',
    2:'17 anos',
    3:'18 anos',
    4:'19 anos',
    5:'20 anos',
    6:'21 anos',
    7:'22 anos',
    8:'23 anos',
    9:'24 anos',
    10:'25 anos',
    11:'Entre 26 e 30 anos',
    12:'Entre 31 e 35 anos',
    13:'Entre 36 e 40 anos',
    14:'Entre 41 e 45 anos',
    15:'Entre 46 e 50 anos',
    16:'Entre 51 e 55 anos',
    17:'Entre 56 e 60 anos',
    18:'Entre 61 e 65 anos',
    19:'Entre 66 e 70 anos',
    20:'Maior de 70 anos'
}

df['TP_FAIXA_ETARIA'].replace(tp_faixa_etaria, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,M,1,3,0,2,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,F,0,1,0,3,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,F,1,3,0,2,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,M,1,1,0,2,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,F,2,1,0,2,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,F,1,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,M,1,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,M,1,3,0,2,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,F,1,3,0,2,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,F,1,2,0,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df['TP_SEXO'].replace({'M':'Masculino', 'F':'Feminino'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,1,3,0,2,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,0,1,0,3,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,1,3,0,2,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,1,1,0,2,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,2,1,0,2,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,1,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,1,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,1,3,0,2,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,1,3,0,2,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,1,2,0,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['TP_ESTADO_CIVIL'].replace({
    0:'Não informado',
    1:'Solteiro',
    2:'Casado(a)/Mora com companheiro(a)',
    3:'Divorciado(o)/Desquitado(a)/Separado(a)',
    4:'Viúvo(a)'
    },
    inplace=True)

df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,3,0,2,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,1,0,3,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,3,0,2,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,1,0,2,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),1,0,2,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,3,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,3,0,2,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,3,0,2,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,2,0,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['TP_COR_RACA'].replace({
    0:'Não declarado',
    1:'Branca',
    2:'Preta',
    3:'Parda',
    4:'Amarela',
    5:'Indígena',
    6:'Não dispõe da informação'
},
                                 inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,0,2,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,0,3,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,0,2,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,0,2,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,0,2,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,0,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,0,2,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,0,2,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,0,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tp_ano_concluiu = {
    0:'Não informado',
    1:'2020',
    2:'2019',
    3:'2018',
    4:'2017',
    5:'2016',
    6:'2015',
    7:'2014',
    8:'2013',
    9:'2012',
    10:'2011',
    11:'2010',
    12:'2009',
    13:'2008',
    14:'2007',
    15:'Antes de 2007'
}

df['TP_ANO_CONCLUIU'].replace(tp_ano_concluiu, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,2,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,3,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,2,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,2,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,2,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,2,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,2,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,2,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,2,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df['TP_ESCOLA'].replace({1:'Não respondeu', 2:'Pública', 3:'Privada'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,4,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,4,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,2,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,2,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,2,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,2,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,2,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,2,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,2,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df['TP_DEPENDENCIA_ADM_ESC'].replace({1:'Federal', 2:'Estadual', 3:'Municipal', 4:'Privada'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,1,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,1,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,1,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,1,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,1,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,1,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,1,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,1,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df['TP_PRESENCA_CN'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,1,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,1,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,1,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,1,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,1,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,1,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,1,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,1,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:

df['TP_PRESENCA_CH'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,1,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,1,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:

df['TP_PRESENCA_LC'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df['TP_PRESENCA_MT'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,1.0,120.0,120.0,100.0,100.0,20.0,460.0,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,200.0,140.0,160.0,200.0,840.0,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,120.0,120.0,120.0,120.0,0.0,480.0,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,80.0,120.0,100.0,120.0,140.0,560.0,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,120.0,120.0,120.0,120.0,620.0,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,C,A
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,140.0,180.0,140.0,160.0,180.0,800.0,C,E,B
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1.0,100.0,120.0,100.0,120.0,100.0,540.0,B,D,B
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,C,C,B
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
cor_prova = {
    909:'Azul',
    910:'Amarela',
    911:'Cinza',
    912:'Rosa',
    915:'Laranja - Braille',
    916:'Laranja - Adpatada Ledor',
    917:'Verde - Videoprova - Libras',
    989:'Azul(Reaplicação)',
    990:'Amarela(Reaplicação)',
    991:'Cinza(Reaplicação)',
    992:'Rosa(Reaplicação)',
    996:'Laranja - Adpatada Ledor(Reaplicação)',
    1011:'Azul (Digital)',
    1012:'Amarela (Digital)',
    1013:'Rosa (Digital)',
    1014:'Cinza (Digital)',
    1045:'Azul (Segunda oportunidade)',
    1046:'Amarela (Segunda oportunidade)',
    1047:'Cinza (Segunda oportuniddade)',
    1048:'Rosa (Segunda oportunidade)',
    1052:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}





df['CO_PROVA_CN'].replace(cor_prova, inplace=True)
df['CO_PROVA_CN'].head(40)

0               Cinza
1               Cinza
2               Cinza
3                Rosa
4                Azul
5             Amarela
6             Amarela
7             Amarela
8               Cinza
9                Rosa
10               Rosa
11              Cinza
12               Rosa
13            Amarela
14               Rosa
15            Amarela
16    Cinza (Digital)
17            Amarela
18              Cinza
19               Azul
20              Cinza
21               Rosa
22               Rosa
23              Cinza
24            Amarela
25               Rosa
26               Rosa
27            Amarela
28              Cinza
29            Amarela
30               Rosa
31              Cinza
32               Azul
33              Cinza
34            Amarela
35               Azul
36               Azul
37            Amarela
38               Azul
39               Rosa
Name: CO_PROVA_CN, dtype: object

In [21]:
cor_cn = {
    879:'Azul',
    880:'Amarela',
    881:'Branca',
    882:'Rosa',
    885:'Laranja - Braille',
    886:'Laranja - Adpatada Ledor',
    887:'Verde - Videoprova - Libras',
    959:'Azul(Reaplicação)',
    960:'Amarela(Reaplicação)',
    961:'Branca(Reaplicação)',
    962:'Rosa(Reaplicação)',
    966:'Laranja - Adpatada Ledor(Reaplicação)',
    999:'Azul (Digital)',
    1000:'Amarela (Digital)',
    1002:'Rosa (Digital)',
    1001:'Branca (Digital)',
    1015:'Azul (Segunda oportunidade)',
    1016:'Amarela (Segunda oportunidade)',
    1017:'Branca (Segunda oportuniddade)',
    1018:'Rosa (Segunda oportunidade)',
    1022:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}


df['CO_PROVA_CH'].replace(cor_cn, inplace=True)
df['CO_PROVA_CH']

0       Amarela
1       Amarela
2       Amarela
3          Rosa
4        Branca
         ...
9724    Amarela
9725     Branca
9726       Rosa
9727       Rosa
9728     Branca
Name: CO_PROVA_CH, Length: 9729, dtype: object

In [22]:
cor_lc = {
    889:'Azul',
    890:'Amarela',
    891:'Rosa',
    892:'Branca',
    895:'Laranja - Braille',
    896:'Laranja - Adpatada Ledor',
    897:'Verde - Videoprova - Libras',
    969:'Azul(Reaplicação)',
    970:'Amarela(Reaplicação)',
    971:'Rosa(Reaplicação)',
    972:'Branca(Reaplicação)',
    976:'Laranja - Adpatada Ledor(Reaplicação)',
    1003:'Azul (Digital)',
    1004:'Amarela (Digital)',
    1005:'Branca (Digital)',
    1006:'Rosa (Digital)',
    1025:'Azul (Segunda oportunidade)',
    1026:'Amarela (Segunda oportunidade)',
    1027:'Rosa (Segunda oportuniddade)',
    1028:'Branca (Segunda oportunidade)',
    1032:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}

df['CO_PROVA_LC'].replace(cor_lc, inplace=True)
df['CO_PROVA_LC'].head(10)

0    Amarela
1    Amarela
2    Amarela
3       Rosa
4     Branca
5       Azul
6       Azul
7       Azul
8    Amarela
9       Rosa
Name: CO_PROVA_LC, dtype: object

In [23]:
cor_mt = {
    899:'Azul',
    900:'Amarela',
    901:'Rosa',
    902:'Cinza',
    905:'Laranja - Braille',
    906:'Laranja - Adpatada Ledor',
    907:'Verde - Videoprova - Libras',
    979:'Azul(Reaplicação)',
    980:'Amarela(Reaplicação)',
    981:'Rosa(Reaplicação)',
    982:'Cinza(Reaplicação)',
    986:'Laranja - Adpatada Ledor(Reaplicação)',
    1007:'Azul (Digital)',
    1008:'Amarela (Digital)',
    1009:'Rosa (Digital)',
    1010:'Cinza (Digital)',
    1035:'Azul (Segunda oportunidade)',
    1036:'Amarela (Segunda oportunidade)',
    1037:'Cinza (Segunda oportuniddade)',
    1038:'Rosa (Segunda oportunidade)',
    1042:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}

df['CO_PROVA_MT'].replace(cor_mt, inplace=True)
df['CO_PROVA_MT'].head(10)

0      Cinza
1      Cinza
2      Cinza
3       Rosa
4       Azul
5    Amarela
6    Amarela
7    Amarela
8      Cinza
9       Rosa
Name: CO_PROVA_MT, dtype: object

In [24]:
df['TP_LINGUA'].replace({0:'Inglês', 1:'Espanhol'}, inplace=True)
df['TP_LINGUA'].head()

0    Espanhol
1      Inglês
2    Espanhol
3    Espanhol
4      Inglês
Name: TP_LINGUA, dtype: object

In [25]:
status_redacao = {
    1:'Sem problemas',
    2:'Anulada',
    3:'Cópia texto motivador',
    4:'Em branco',
    6:'Fuga ao tema',
    7:'Não atendimento ao tipo textual',
    8:'Texto insuficiente',
    9:'Parte desconectada'
}

df['TP_STATUS_REDACAO'].replace(status_redacao, inplace=True)
df['TP_STATUS_REDACAO'].head(40)

0     Sem problemas
1     Sem problemas
2     Sem problemas
3     Sem problemas
4     Sem problemas
5     Sem problemas
6     Sem problemas
7     Sem problemas
8     Sem problemas
9     Sem problemas
10    Sem problemas
11    Sem problemas
12    Sem problemas
13    Sem problemas
14    Sem problemas
15    Sem problemas
16    Sem problemas
17    Sem problemas
18    Sem problemas
19    Sem problemas
20    Sem problemas
21    Sem problemas
22        Em branco
23    Sem problemas
24        Em branco
25    Sem problemas
26    Sem problemas
27    Sem problemas
28    Sem problemas
29    Sem problemas
30    Sem problemas
31    Sem problemas
32    Sem problemas
33    Sem problemas
34    Sem problemas
35    Sem problemas
36    Sem problemas
37    Sem problemas
38    Sem problemas
39    Sem problemas
Name: TP_STATUS_REDACAO, dtype: object

In [26]:
q001 = {
    'A':'Nunca estudou.',
    'B':'Não completou a 4ª série/5º ano do Ensino Fundamental.',
    'C':'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.',
    'D':'Completou a 8ª série/9º ano, mas não completou o Ensino Médio.',
    'E':'Completou o Ensino Médio, mas não completou a Faculdade.',
    'F':'Completou a Faculdade, mas não completou a Pós-graduação.',
    'G':'Completou a Pós-graduação.',
    'H':'Não sei.'
    }

df['Q001'].replace(q001, inplace=True)
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...",D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...",C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80.0,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...",D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...",E,E

In [27]:

df['Q002'].replace(q001, inplace=True)
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...",B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80.0,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...",B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...",E

In [28]:
q006 = {
    'A':'Nenhuma Renda.',
    'B':'Até R$ 1.100,00',
    'C':'De R$ 1.100,01 até R$ 1.650,00',
    'D':'De R$ 1.650,01 até R$ 2.200,00',
    'E':'De R$ 2.200,01 até R$ 2.750,00',
    'F':'De R$ 2.750,01 até R$ 3.300,00',
    'G':'De R$ 3.300,01 até R$ 4.400,00',
    'H':'De R$ 4.400,01 até R$ 5.500,00',
    'I':'De R$ 5.500,01 até R$ 6.600,00',
    'J':'De R$ 6.600,01 até R$ 7.700,00',
    'K':'De R$ 7.700,01 até R$ 8.800,00',
    'L':'De R$ 8.800,01 até R$ 9.900,00',
    'M':'De R$ 9.900,01 até R$ 11.000,00',
    'N':'De R$ 11.000,01 até R$ 13.200,00',
    'O':'De R$ 13.200,01 até R$ 16.500,00',
    'P':'De R$ 16.500,01 até R$ 22.000,00',
    'Q':'Acima de R$ 22.000,00.'



}

df['Q006'].replace(q006, inplace=True)
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80.0,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00"

In [29]:
# um resumo conciso da base
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TP_FAIXA_ETARIA         9729 non-null   object
 1   TP_SEXO                 9729 non-null   object
 2   TP_ESTADO_CIVIL         9729 non-null   object
 3   TP_COR_RACA             9729 non-null   object
 4   TP_ANO_CONCLUIU         9729 non-null   object
 5   TP_ESCOLA               9729 non-null   object
 6   TP_DEPENDENCIA_ADM_ESC  9729 non-null   object
 7   TP_PRESENCA_CN          9729 non-null   object
 8   TP_PRESENCA_CH          9729 non-null   object
 9   TP_PRESENCA_LC          9729 non-null   object
 10  TP_PRESENCA_MT          9729 non-null   object
 11  CO_PROVA_CN             9729 non-null   object
 12  CO_PROVA_CH             9729 non-null   object
 13  CO_PROVA_LC             9729 non-null   object
 14  CO_PROVA_MT             9728 non-null   object
 15  NU_NOTA_CN              9728 non-null   object
 16  NU_NOTA_CH              9728 non-null   object
 17  NU_NOTA_LC              9728 non-null   object
 18  NU_NOTA_MT              9728 non-null   object
 19  TP_LINGUA               9728 non-null   object
 20  TP_STATUS_REDACAO       9728 non-null   object
 21  NU_NOTA_COMP1           9728 non-null   float64
 22  NU_NOTA_COMP2           9728 non-null   float64
 23  NU_NOTA_COMP3           9728 non-null   float64
 24  NU_NOTA_COMP4           9728 non-null   float64
 25  NU_NOTA_COMP5           9728 non-null   float64
 26  NU_NOTA_REDACAO         9728 non-null   float64
 27  Q001                    9728 non-null   object
 28  Q002                    9728 non-null   object
 29  Q006                    9728 non-null   object
dtypes: float64(6), object(24)
memory usage: 2.2+ MB

# a) Tabela de frequência para variáveis qualitativas

In [30]:
# * Tabela de Frequência para a variável TP_FAIXA_ETARIA: *

tabela_frequencia_TP_FAIXA_ETARIA = df['TP_FAIXA_ETARIA'].value_counts().reset_index()
tabela_frequencia_TP_FAIXA_ETARIA.columns = ['TP_FAIXA_ETARIA', 'Frequencia']

print(tabela_frequencia_TP_FAIXA_ETARIA)

       TP_FAIXA_ETARIA  Frequencia
0              17 anos        4121
1              18 anos        3882
2              19 anos        1053
3              20 anos         297
4              21 anos         102
5     Menor de 17 anos          78
6              22 anos          41
7   Entre 26 e 30 anos          35
8              23 anos          21
9   Entre 36 e 40 anos          21
10  Entre 31 e 35 anos          20
11  Entre 41 e 45 anos          14
12  Entre 46 e 50 anos          13
13             25 anos          10
14             24 anos           9
15  Entre 56 e 60 anos           6
16  Entre 61 e 65 anos           3
17  Entre 51 e 55 anos           3

In [31]:
# * Tabela de Frequência para a variável TP_SEXO: *

tabela_frequencia_TP_SEXO = df['TP_SEXO'].value_counts().reset_index()
tabela_frequencia_TP_SEXO.columns = ['TP_SEXO', 'Frequencia']

print(tabela_frequencia_TP_SEXO)

     TP_SEXO  Frequencia
0   Feminino        5519
1  Masculino        4210

In [32]:
# * Tabela de Frequência para a variável TP_ESTADO_CIVIL: *

tabela_frequencia_TP_ESTADO_CIVIL = df['TP_ESTADO_CIVIL'].value_counts().reset_index()
tabela_frequencia_TP_ESTADO_CIVIL.columns = ['TP_ESTADO_CIVIL', 'Frequencia']

print(tabela_frequencia_TP_ESTADO_CIVIL)

                           TP_ESTADO_CIVIL  Frequencia
0                                 Solteiro        9358
1                            Não informado         296
2  Divorciado(o)/Desquitado(a)/Separado(a)          38
3        Casado(a)/Mora com companheiro(a)          36
4                                 Viúvo(a)           1

In [33]:
# * Tabela de Frequência para a variável TP_COR_RACA: *

tabela_frequencia_TP_COR_RACA = df['TP_COR_RACA'].value_counts().reset_index()
tabela_frequencia_TP_COR_RACA.columns = ['TP_COR_RACA', 'Frequencia']

print(tabela_frequencia_TP_COR_RACA)

     TP_COR_RACA  Frequencia
0          Parda        6199
1         Branca        2546
2          Preta         695
3        Amarela         130
4  Não declarado         117
5       Indígena          42

In [34]:
# * Tabela de Frequência para a variável TP_ANO_CONCLUIU: *

tabela_frequencia_TP_ANO_CONCLUIU = df['TP_ANO_CONCLUIU'].value_counts().reset_index()
tabela_frequencia_TP_ANO_CONCLUIU.columns = ['TP_ANO_CONCLUIU', 'Frequencia']

print(tabela_frequencia_TP_ANO_CONCLUIU)

  TP_ANO_CONCLUIU  Frequencia
0   Não informado        9729

In [35]:
# * Tabela de Frequência para a variável TP_ESCOLA: *

tabela_frequencia_TP_ESCOLA = df['TP_ESCOLA'].value_counts().reset_index()
tabela_frequencia_TP_ESCOLA.columns = ['TP_ESCOLA', 'Frequencia']

print(tabela_frequencia_TP_ESCOLA)

  TP_ESCOLA  Frequencia
0   Pública        8304
1   Privada        1425

In [36]:
# * Tabela de Frequência para a variável TP_DEPENDENCIA_ADM_ESC: *

tabela_frequencia_TP_DEPENDENCIA_ADM_ESC = df['TP_DEPENDENCIA_ADM_ESC'].value_counts().reset_index()
tabela_frequencia_TP_DEPENDENCIA_ADM_ESC.columns = ['TP_DEPENDENCIA_ADM_ESC', 'Frequencia']

print(tabela_frequencia_TP_DEPENDENCIA_ADM_ESC)

  TP_DEPENDENCIA_ADM_ESC  Frequencia
0               Estadual        8105
1                Privada        1500
2                Federal         123
3              Municipal           1

In [37]:
# * Tabela de Frequência para a variável TP_PRESENCA_CN: *

tabela_frequencia_TP_PRESENCA_CN = df['TP_PRESENCA_CN'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_CN.columns = ['TP_PRESENCA_CN', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_CN)

      TP_PRESENCA_CN  Frequencia
0  Presente na prova        9729

In [38]:
# * Tabela de Frequência para a variável TP_PRESENCA_CH: *

tabela_frequencia_TP_PRESENCA_CH = df['TP_PRESENCA_CH'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_CH.columns = ['TP_PRESENCA_CH', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_CH)

      TP_PRESENCA_CH  Frequencia
0  Presente na prova        9729

In [39]:
# * Tabela de Frequência para a variável TP_PRESENCA_LC: *

tabela_frequencia_TP_PRESENCA_LC = df['TP_PRESENCA_LC'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_LC.columns = ['TP_PRESENCA_LC', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_LC)

      TP_PRESENCA_LC  Frequencia
0  Presente na prova        9729

In [40]:
# * Tabela de Frequência para a variável TP_PRESENCA_MT: *

tabela_frequencia_TP_PRESENCA_MT = df['TP_PRESENCA_MT'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_MT.columns = ['TP_PRESENCA_MT', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_MT)

      TP_PRESENCA_MT  Frequencia
0  Presente na prova        9729

In [41]:
# * Tabela de Frequência para a variável CO_PROVA_CN: *

tabela_frequencia_CO_PROVA_CN = df['CO_PROVA_CN'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_CN.columns = ['CO_PROVA_CN', 'Frequencia']

print(tabela_frequencia_CO_PROVA_CN)

                    CO_PROVA_CN  Frequencia
0                       Amarela        2388
1                          Rosa        2364
2                         Cinza        2321
3                          Azul        2273
4                Azul (Digital)         100
5               Cinza (Digital)          97
6             Amarela (Digital)          93
7                Rosa (Digital)          85
8   Verde - Videoprova - Libras           6
9             Azul(Reaplicação)           1
10     Laranja - Adpatada Ledor           1

In [42]:
# * Tabela de Frequência para a variável CO_PROVA_CH: *

tabela_frequencia_CO_PROVA_CH = df['CO_PROVA_CH'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_CH.columns = ['CO_PROVA_CH', 'Frequencia']

print(tabela_frequencia_CO_PROVA_CH)

                   CO_PROVA_CH  Frequencia
0                         Azul        2369
1                         Rosa        2365
2                      Amarela        2340
3                       Branca        2273
4             Branca (Digital)         100
5            Amarela (Digital)          97
6               Azul (Digital)          93
7               Rosa (Digital)          85
8  Verde - Videoprova - Libras           6
9     Laranja - Adpatada Ledor           1

In [43]:
# * Tabela de Frequência para a variável CO_PROVA_LC: *

tabela_frequencia_CO_PROVA_LC = df['CO_PROVA_LC'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_LC.columns = ['CO_PROVA_LC', 'Frequencia']

print(tabela_frequencia_CO_PROVA_LC)

                    CO_PROVA_LC  Frequencia
0                          Azul        2369
1                          Rosa        2365
2                       Amarela        2340
3                        Branca        2272
4              Branca (Digital)         100
5             Amarela (Digital)          97
6                Azul (Digital)          93
7                Rosa (Digital)          85
8   Verde - Videoprova - Libras           6
9      Laranja - Adpatada Ledor           1
10                            8           1

In [44]:
# * Tabela de Frequência para a variável CO_PROVA_MT: *

tabela_frequencia_CO_PROVA_MT = df['CO_PROVA_MT'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_MT.columns = ['CO_PROVA_MT', 'Frequencia']

print(tabela_frequencia_CO_PROVA_MT)

                    CO_PROVA_MT  Frequencia
0                       Amarela        2388
1                          Rosa        2364
2                         Cinza        2321
3                          Azul        2272
4                Azul (Digital)         100
5               Cinza (Digital)          97
6             Amarela (Digital)          93
7                Rosa (Digital)          85
8   Verde - Videoprova - Libras           6
9             Azul(Reaplicação)           1
10     Laranja - Adpatada Ledor           1

In [45]:
# * Tabela de Frequência para a variável TP_LINGUA: *

tabela_frequencia_TP_LINGUA = df['TP_LINGUA'].value_counts().reset_index()
tabela_frequencia_TP_LINGUA.columns = ['TP_LINGUA', 'Frequencia']

print(tabela_frequencia_TP_LINGUA)

  TP_LINGUA  Frequencia
0  Espanhol        5172
1    Inglês        4556

In [46]:
# * Tabela de Frequência para a variável TP_STATUS_REDACAO: *

tabela_frequencia_TP_STATUS_REDACAO = df['TP_STATUS_REDACAO'].value_counts().reset_index()
tabela_frequencia_TP_STATUS_REDACAO.columns = ['TP_STATUS_REDACAO', 'Frequencia']

print(tabela_frequencia_TP_STATUS_REDACAO)

                 TP_STATUS_REDACAO  Frequencia
0                    Sem problemas        9236
1                        Em branco         229
2                     Fuga ao tema         151
3            Cópia texto motivador          51
4               Texto insuficiente          33
5  Não atendimento ao tipo textual          12
6               Parte desconectada          11
7                          Anulada           5

In [47]:
# * Tabela de Frequência para a variável Q001: *

tabela_frequencia_Q001 = df['Q001'].value_counts().reset_index()
tabela_frequencia_Q001.columns = ['Q001', 'Frequencia']

print(tabela_frequencia_Q001)

                                                Q001  Frequencia
0  Completou o Ensino Médio, mas não completou a ...        2563
1  Completou a 8ª série/9º ano, mas não completou...        1706
2                                           Não sei.        1535
3  Completou a 4ª série/5º ano, mas não completou...        1488
4  Não completou a 4ª série/5º ano do Ensino Fund...        1224
5  Completou a Faculdade, mas não completou a Pós...         572
6                         Completou a Pós-graduação.         458
7                                     Nunca estudou.         182

In [48]:
# * Tabela de Frequência para a variável Q002: *

tabela_frequencia_Q002 = df['Q002'].value_counts().reset_index()
tabela_frequencia_Q002.columns = ['Q002', 'Frequencia']

print(tabela_frequencia_Q002)

                                                Q002  Frequencia
0  Completou o Ensino Médio, mas não completou a ...        2844
1  Completou a 8ª série/9º ano, mas não completou...        1966
2  Completou a 4ª série/5º ano, mas não completou...        1505
3                                           Não sei.        1043
4  Não completou a 4ª série/5º ano do Ensino Fund...         940
5  Completou a Faculdade, mas não completou a Pós...         722
6                         Completou a Pós-graduação.         585
7                                     Nunca estudou.         123

In [49]:
# * Tabela de Frequência para a variável Q006: *

tabela_frequencia_Q006 = df['Q006'].value_counts().reset_index()
tabela_frequencia_Q006.columns = ['Q006', 'Frequencia']

print(tabela_frequencia_Q006
      )

                                Q006  Frequencia
0                    Até R$ 1.100,00        4553
1     De R$ 1.100,01 até R$ 1.650,00        2018
2     De R$ 1.650,01 até R$ 2.200,00         926
3                     Nenhuma Renda.         391
4     De R$ 2.200,01 até R$ 2.750,00         357
5     De R$ 2.750,01 até R$ 3.300,00         294
6     De R$ 3.300,01 até R$ 4.400,00         233
7     De R$ 4.400,01 até R$ 5.500,00         201
8     De R$ 5.500,01 até R$ 6.600,00         146
9    De R$ 9.900,01 até R$ 11.000,00         100
10            Acima de R$ 22.000,00.         100
11  De R$ 16.500,01 até R$ 22.000,00         100
12    De R$ 6.600,01 até R$ 7.700,00          91
13  De R$ 11.000,01 até R$ 13.200,00          57
14  De R$ 13.200,01 até R$ 16.500,00          56
15    De R$ 7.700,01 até R$ 8.800,00          55
16    De R$ 8.800,01 até R$ 9.900,00          50

# b) Categorizar as variáveis quantitativas e criar uma nova variáveis com essas categorias.

In [50]:
import math

# para fazer o cálculo de logaritmo da fórmula do número de classes

In [51]:
# VARIÁVEL NU_NOTA_CN

# número de observações (n)

n = 16587

k = int(1 + 3.3*math.log10(n))

k

14

In [60]:
# fazer a conversão da NU_NOTA_CN em float, ou seja, vou remover as vírgulas:

df['NU_NOTA_CN'] = df['NU_NOTA_CN'].str.replace(',', '.').astype(float)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120.0,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80.0,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",Nenhuma Renda.
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140.0,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","Até R$ 1.100,00"
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,100.0,120.0,100.0,120.0,100.0,540.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Em branco,0.0,0.0,0.0,0.0,0.0,0.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00"
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# cálculo da amplitude total de NU_NOTA_CN:

amp_NU_NOTA_CN = df['NU_NOTA_CN'].max() - df['NU_NOTA_CN'].min()
amp_NU_NOTA_CN

796.4

In [62]:
# CÁLCULO DA AMPLITUDE DE CADA CLASSE:
amp_classe = amp_NU_NOTA_CN / k

amp_classe

56.885714285714286

In [63]:
# definir os limites de intervalo para categorização da variável NU_NOTA_CN

bins = [df['NU_NOTA_CN'].min() + i * amp_classe for i in range(k + 1)]

In [64]:
# inserir a coluna na base da categorização da variável NU_NOTA_CN

df['Intervalo de Classe - NU_NOTA_CN'] = pd.cut(df['NU_NOTA_CN'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[341.314, 398.2)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,140.0,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[568.857, 625.743)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,80.0,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[398.2, 455.086)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[398.2, 455.086)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",Nenhuma Renda.,"[511.971, 568.857)"
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","Até R$ 1.100,00","[511.971, 568.857)"
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,100.0,120.0,100.0,120.0,100.0,540.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[455.086, 511.971)"
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,0.0,0.0,0.0,0.0,0.0,0.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)"
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# NU_NOTA_CH

# número de observações (n)

n = 16587

k = int(1 + 3.3*math.log10(n))

k

14

In [67]:
# conversão dos dados object da coluna para float

df['NU_NOTA_CH'] = df['NU_NOTA_CH'].str.replace(',', '.').astype(float)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[341.314, 398.2)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,140.0,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[568.857, 625.743)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,80.0,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[398.2, 455.086)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[398.2, 455.086)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",Nenhuma Renda.,"[511.971, 568.857)"
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","Até R$ 1.100,00","[511.971, 568.857)"
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,100.0,120.0,100.0,120.0,100.0,540.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[455.086, 511.971)"
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,0.0,0.0,0.0,0.0,0.0,0.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)"
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# cálculo da amplitude total de NU_NOTA_CH:

amp_total = df['NU_NOTA_CH'].max() - df['NU_NOTA_CH'].min()
amp_total

832.3

In [69]:
# cálculo da amplitude de cada classe
# amplitude = amplitude total / k

amplitude_classe = amp_total / k
amplitude_classe

59.449999999999996

In [78]:
# definir os limites de intervalo para categorização:

bins = [df['NU_NOTA_CH'].min() + i * amplitude_classe for i in range(k + 1)]
bins

[0.0,
 59.449999999999996,
 118.89999999999999,
 178.35,
 237.79999999999998,
 297.25,
 356.7,
 416.15,
 475.59999999999997,
 535.05,
 594.5,
 653.9499999999999,
 713.4,
 772.8499999999999,
 832.3]

In [79]:
# inserir a coluna da categorização na base
df['Intervalo de Classe - NU_NOTA_CH'] = pd.cut(df['NU_NOTA_CH'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[341.314, 398.2)","[535.05, 594.5)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[568.857, 625.743)","[653.95, 713.4)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)","[356.7, 416.15)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[398.2, 455.086)","[475.6, 535.05)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[398.2, 455.086)","[653.95, 713.4)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",Nenhuma Renda.,"[511.971, 568.857)","[594.5, 653.95)"
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","Até R$ 1.100,00","[511.971, 568.857)","[594.5, 653.95)"
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,100.0,120.0,100.0,540.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[455.086, 511.971)","[416.15, 475.6)"
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,0.0,0.0,0.0,0.0,0.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)","[475.6, 535.05)"
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# variável NU_NOTA_LC

# número de observações (n):

n = 16587

# número de classes (k):

k = int(1 + 3.3*math.log10(n))

k

14

In [75]:
# conversão da coluna pra float:

df['NU_NOTA_LC'] = df['NU_NOTA_LC'].str.replace(',', '.').astype(float)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,120.0,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[341.314, 398.2)","[511.971, 568.857)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,200.0,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[568.857, 625.743)","[625.743, 682.629)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)","[341.314, 398.2)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[398.2, 455.086)","[511.971, 568.857)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[398.2, 455.086)","[625.743, 682.629)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",Nenhuma Renda.,"[511.971, 568.857)","[568.857, 625.743)"
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,180.0,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","Até R$ 1.100,00","[511.971, 568.857)","[568.857, 625.743)"
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,100.0,120.0,100.0,540.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[455.086, 511.971)","[398.2, 455.086)"
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,0.0,0.0,0.0,0.0,0.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)","[511.971, 568.857)"
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_LC'].max() - df['NU_NOTA_LC'].min()

amp_total

760.5

In [77]:
# cálculo da amplitude de classe:

amp_classe = amp_total / k

amp_classe

54.32142857142857

In [80]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_LC'].min() + i * amp_classe for i in range(k + 1)]
bins

[0.0,
 54.32142857142857,
 108.64285714285714,
 162.96428571428572,
 217.28571428571428,
 271.60714285714283,
 325.92857142857144,
 380.25,
 434.57142857142856,
 488.8928571428571,
 543.2142857142857,
 597.5357142857142,
 651.8571428571429,
 706.1785714285714,
 760.5]

In [81]:
# inserir a coluna da categorização na base:
df['Intervalo de Classe - NU_NOTA_LC'] = pd.cut(df['NU_NOTA_LC'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,100.0,100.0,20.0,460.0,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[341.314, 398.2)","[535.05, 594.5)","[380.25, 434.571)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,140.0,160.0,200.0,840.0,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[568.857, 625.743)","[653.95, 713.4)","[543.214, 597.536)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,0.0,480.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)","[356.7, 416.15)","[380.25, 434.571)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,100.0,120.0,140.0,560.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[398.2, 455.086)","[475.6, 535.05)","[488.893, 543.214)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120.0,120.0,120.0,620.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[398.2, 455.086)","[653.95, 713.4)","[543.214, 597.536)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9724,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",Nenhuma Renda.,"[511.971, 568.857)","[594.5, 653.95)","[543.214, 597.536)"
9725,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140.0,160.0,180.0,800.0,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","Até R$ 1.100,00","[511.971, 568.857)","[594.5, 653.95)","[543.214, 597.536)"
9726,17 anos,Masculino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,100.0,120.0,100.0,540.0,Não completou a 4ª série/5º ano do Ensino Fund...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[455.086, 511.971)","[416.15, 475.6)","[380.25, 434.571)"
9727,17 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,0.0,0.0,0.0,0.0,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[341.314, 398.2)","[475.6, 535.05)","[325.929, 380.25)"
9728,17 anos,Feminino,Solteiro,Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN