<a href="https://colab.research.google.com/github/VivianeSouza923/Python-Study/blob/main/An%C3%A1lise_e_Transforma%C3%A7%C3%A3o_de_Dados_com_pandas_Categoriza%C3%A7%C3%A3o_e_Tabelas_de_Frequ%C3%AAncia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/content/Enem_Fortaleza_2021_DisciplinaProbabilidadeEstatística.xlsx')
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,5,M,1,3,0,2,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,3,F,0,1,0,3,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,3,F,1,3,0,2,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,3,M,1,1,0,2,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,12,F,2,1,0,2,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,4,F,1,2,0,3,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,3,F,1,1,0,3,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,3,M,1,1,0,3,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,3,F,1,3,0,3,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,2,M,2,2,0,2,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [3]:
# para conhecer um resumo conciso da base:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16588 entries, 0 to 16587
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TP_FAIXA_ETARIA         16588 non-null  int64
 1   TP_SEXO                 16588 non-null  object
 2   TP_ESTADO_CIVIL         16588 non-null  int64
 3   TP_COR_RACA             16588 non-null  int64
 4   TP_ANO_CONCLUIU         16588 non-null  int64
 5   TP_ESCOLA               16588 non-null  int64
 6   TP_DEPENDENCIA_ADM_ESC  16588 non-null  int64
 7   TP_PRESENCA_CN          16588 non-null  int64
 8   TP_PRESENCA_CH          16588 non-null  int64
 9   TP_PRESENCA_LC          16588 non-null  int64
 10  TP_PRESENCA_MT          16588 non-null  int64
 11  CO_PROVA_CN             16588 non-null  int64
 12  CO_PROVA_CH             16588 non-null  int64
 13  CO_PROVA_LC             16588 non-null  int64
 14  CO_PROVA_MT             16588 non-null  int64
 15  NU_NOTA_CN              16588 non-null  float64
 16  NU_NOTA_CH              16588 non-null  float64
 17  NU_NOTA_LC              16588 non-null  float64
 18  NU_NOTA_MT              16588 non-null  float64
 19  TP_LINGUA               16588 non-null  int64
 20  TP_STATUS_REDACAO       16588 non-null  int64
 21  NU_NOTA_COMP1           16588 non-null  int64
 22  NU_NOTA_COMP2           16588 non-null  int64
 23  NU_NOTA_COMP3           16588 non-null  int64
 24  NU_NOTA_COMP4           16588 non-null  int64
 25  NU_NOTA_COMP5           16588 non-null  int64
 26  NU_NOTA_REDACAO         16588 non-null  int64
 27  Q001                    16588 non-null  object
 28  Q002                    16588 non-null  object
 29  Q006                    16588 non-null  object
dtypes: float64(4), int64(22), object(4)
memory usage: 3.8+ MB

In [4]:
tp_faixa_etaria = {
    1:'Menor de 17 anos',
    2:'17 anos',
    3:'18 anos',
    4:'19 anos',
    5:'20 anos',
    6:'21 anos',
    7:'22 anos',
    8:'23 anos',
    9:'24 anos',
    10:'25 anos',
    11:'Entre 26 e 30 anos',
    12:'Entre 31 e 35 anos',
    13:'Entre 36 e 40 anos',
    14:'Entre 41 e 45 anos',
    15:'Entre 46 e 50 anos',
    16:'Entre 51 e 55 anos',
    17:'Entre 56 e 60 anos',
    18:'Entre 61 e 65 anos',
    19:'Entre 66 e 70 anos',
    20:'Maior de 70 anos'
}

df['TP_FAIXA_ETARIA'].replace(tp_faixa_etaria, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,M,1,3,0,2,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,F,0,1,0,3,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,F,1,3,0,2,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,M,1,1,0,2,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,F,2,1,0,2,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,F,1,2,0,3,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,F,1,1,0,3,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,M,1,1,0,3,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,F,1,3,0,3,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,M,2,2,0,2,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [5]:
df['TP_SEXO'].replace({'M':'Masculino', 'F':'Feminino'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,1,3,0,2,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,0,1,0,3,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,1,3,0,2,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,1,1,0,2,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,2,1,0,2,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,1,2,0,3,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,1,1,0,3,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,1,1,0,3,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,1,3,0,3,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,2,2,0,2,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [6]:
df['TP_ESTADO_CIVIL'].replace({
    0:'Não informado',
    1:'Solteiro',
    2:'Casado(a)/Mora com companheiro(a)',
    3:'Divorciado(o)/Desquitado(a)/Separado(a)',
    4:'Viúvo(a)'
    },
    inplace=True)

df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,3,0,2,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,1,0,3,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,3,0,2,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,1,0,2,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),1,0,2,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,2,0,3,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,1,0,3,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,1,0,3,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,3,0,3,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),2,0,2,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [7]:
df['TP_COR_RACA'].replace({
    0:'Não declarado',
    1:'Branca',
    2:'Preta',
    3:'Parda',
    4:'Amarela',
    5:'Indígena',
    6:'Não dispõe da informação'
},
                                 inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,0,2,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,0,3,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,0,2,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,0,2,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,0,2,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,0,3,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,0,3,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,0,3,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,0,3,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,0,2,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [8]:
tp_ano_concluiu = {
    0:'Não informado',
    1:'2020',
    2:'2019',
    3:'2018',
    4:'2017',
    5:'2016',
    6:'2015',
    7:'2014',
    8:'2013',
    9:'2012',
    10:'2011',
    11:'2010',
    12:'2009',
    13:'2008',
    14:'2007',
    15:'Antes de 2007'
}

df['TP_ANO_CONCLUIU'].replace(tp_ano_concluiu, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,2,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,3,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,2,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,2,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,2,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,3,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,3,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,3,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,3,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,2,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [9]:
df['TP_ESCOLA'].replace({1:'Não respondeu', 2:'Pública', 3:'Privada'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,4,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,4,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,2,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,2,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,2,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,4,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,4,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,4,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,4,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,2,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [10]:
df['TP_DEPENDENCIA_ADM_ESC'].replace({1:'Federal', 2:'Estadual', 3:'Municipal', 4:'Privada'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,1,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,1,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,1,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,1,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,1,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,1,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,1,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,1,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,1,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,1,1,1,...,1,160,200,160,180,160,860,G,G,K

In [11]:
df['TP_PRESENCA_CN'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,1,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,1,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,1,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,1,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,1,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,1,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,1,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,1,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,1,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,1,1,...,1,160,200,160,180,160,860,G,G,K

In [12]:

df['TP_PRESENCA_CH'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,1,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,1,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,1,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,1,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,1,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,1,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,1,...,1,160,200,160,180,160,860,G,G,K

In [13]:

df['TP_PRESENCA_LC'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,160,200,160,180,160,860,G,G,K

In [14]:
df['TP_PRESENCA_MT'].replace({0:'Faltou à prova', 1:'Presente na prova', 2:'Eliminado na prova'}, inplace=True)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,100,100,20,460,D,B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,140,200,140,160,200,840,D,D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,120,120,0,480,C,C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,80,120,100,120,140,560,C,D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,140,120,120,120,120,620,C,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,120,160,160,680,E,E,C
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,80,120,120,120,160,600,G,G,F
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,140,180,180,160,200,860,E,D,F
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,1,120,120,120,160,200,720,E,D,Q
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,1,160,200,160,180,160,860,G,G,K

In [15]:
cor_prova = {
    909:'Azul',
    910:'Amarela',
    911:'Cinza',
    912:'Rosa',
    915:'Laranja - Braille',
    916:'Laranja - Adpatada Ledor',
    917:'Verde - Videoprova - Libras',
    989:'Azul(Reaplicação)',
    990:'Amarela(Reaplicação)',
    991:'Cinza(Reaplicação)',
    992:'Rosa(Reaplicação)',
    996:'Laranja - Adpatada Ledor(Reaplicação)',
    1011:'Azul (Digital)',
    1012:'Amarela (Digital)',
    1013:'Rosa (Digital)',
    1014:'Cinza (Digital)',
    1045:'Azul (Segunda oportunidade)',
    1046:'Amarela (Segunda oportunidade)',
    1047:'Cinza (Segunda oportuniddade)',
    1048:'Rosa (Segunda oportunidade)',
    1052:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}





df['CO_PROVA_CN'].replace(cor_prova, inplace=True)
df['CO_PROVA_CN'].head(40)

0               Cinza
1               Cinza
2               Cinza
3                Rosa
4                Azul
5             Amarela
6             Amarela
7             Amarela
8               Cinza
9                Rosa
10               Rosa
11              Cinza
12               Rosa
13            Amarela
14               Rosa
15            Amarela
16    Cinza (Digital)
17            Amarela
18              Cinza
19               Azul
20              Cinza
21               Rosa
22               Rosa
23              Cinza
24            Amarela
25               Rosa
26               Rosa
27            Amarela
28              Cinza
29            Amarela
30               Rosa
31              Cinza
32               Azul
33              Cinza
34            Amarela
35               Azul
36               Azul
37            Amarela
38               Azul
39               Rosa
Name: CO_PROVA_CN, dtype: object

In [16]:
cor_cn = {
    879:'Azul',
    880:'Amarela',
    881:'Branca',
    882:'Rosa',
    885:'Laranja - Braille',
    886:'Laranja - Adpatada Ledor',
    887:'Verde - Videoprova - Libras',
    959:'Azul(Reaplicação)',
    960:'Amarela(Reaplicação)',
    961:'Branca(Reaplicação)',
    962:'Rosa(Reaplicação)',
    966:'Laranja - Adpatada Ledor(Reaplicação)',
    999:'Azul (Digital)',
    1000:'Amarela (Digital)',
    1002:'Rosa (Digital)',
    1001:'Branca (Digital)',
    1015:'Azul (Segunda oportunidade)',
    1016:'Amarela (Segunda oportunidade)',
    1017:'Branca (Segunda oportuniddade)',
    1018:'Rosa (Segunda oportunidade)',
    1022:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}


df['CO_PROVA_CH'].replace(cor_cn, inplace=True)
df['CO_PROVA_CH']

0        Amarela
1        Amarela
2        Amarela
3           Rosa
4         Branca
          ...
16583     Branca
16584    Amarela
16585     Branca
16586       Azul
16587       Azul
Name: CO_PROVA_CH, Length: 16588, dtype: object

In [17]:
cor_lc = {
    889:'Azul',
    890:'Amarela',
    891:'Rosa',
    892:'Branca',
    895:'Laranja - Braille',
    896:'Laranja - Adpatada Ledor',
    897:'Verde - Videoprova - Libras',
    969:'Azul(Reaplicação)',
    970:'Amarela(Reaplicação)',
    971:'Rosa(Reaplicação)',
    972:'Branca(Reaplicação)',
    976:'Laranja - Adpatada Ledor(Reaplicação)',
    1003:'Azul (Digital)',
    1004:'Amarela (Digital)',
    1005:'Branca (Digital)',
    1006:'Rosa (Digital)',
    1025:'Azul (Segunda oportunidade)',
    1026:'Amarela (Segunda oportunidade)',
    1027:'Rosa (Segunda oportuniddade)',
    1028:'Branca (Segunda oportunidade)',
    1032:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}

df['CO_PROVA_LC'].replace(cor_lc, inplace=True)
df['CO_PROVA_LC'].head(10)

0    Amarela
1    Amarela
2    Amarela
3       Rosa
4     Branca
5       Azul
6       Azul
7       Azul
8    Amarela
9       Rosa
Name: CO_PROVA_LC, dtype: object

In [18]:
cor_mt = {
    899:'Azul',
    900:'Amarela',
    901:'Rosa',
    902:'Cinza',
    905:'Laranja - Braille',
    906:'Laranja - Adpatada Ledor',
    907:'Verde - Videoprova - Libras',
    979:'Azul(Reaplicação)',
    980:'Amarela(Reaplicação)',
    981:'Rosa(Reaplicação)',
    982:'Cinza(Reaplicação)',
    986:'Laranja - Adpatada Ledor(Reaplicação)',
    1007:'Azul (Digital)',
    1008:'Amarela (Digital)',
    1009:'Rosa (Digital)',
    1010:'Cinza (Digital)',
    1035:'Azul (Segunda oportunidade)',
    1036:'Amarela (Segunda oportunidade)',
    1037:'Cinza (Segunda oportuniddade)',
    1038:'Rosa (Segunda oportunidade)',
    1042:'Laranja - Adpatada Ledor (Segunda oportunidade)'


}

df['CO_PROVA_MT'].replace(cor_mt, inplace=True)
df['CO_PROVA_MT'].head(10)

0      Cinza
1      Cinza
2      Cinza
3       Rosa
4       Azul
5    Amarela
6    Amarela
7    Amarela
8      Cinza
9       Rosa
Name: CO_PROVA_MT, dtype: object

In [19]:
df['TP_LINGUA'].replace({0:'Inglês', 1:'Espanhol'}, inplace=True)
df['TP_LINGUA'].head()

0    Espanhol
1      Inglês
2    Espanhol
3    Espanhol
4      Inglês
Name: TP_LINGUA, dtype: object

In [20]:
status_redacao = {
    1:'Sem problemas',
    2:'Anulada',
    3:'Cópia texto motivador',
    4:'Em branco',
    6:'Fuga ao tema',
    7:'Não atendimento ao tipo textual',
    8:'Texto insuficiente',
    9:'Parte desconectada'
}

df['TP_STATUS_REDACAO'].replace(status_redacao, inplace=True)
df['TP_STATUS_REDACAO'].head(40)

0     Sem problemas
1     Sem problemas
2     Sem problemas
3     Sem problemas
4     Sem problemas
5     Sem problemas
6     Sem problemas
7     Sem problemas
8     Sem problemas
9     Sem problemas
10    Sem problemas
11    Sem problemas
12    Sem problemas
13    Sem problemas
14    Sem problemas
15    Sem problemas
16    Sem problemas
17    Sem problemas
18    Sem problemas
19    Sem problemas
20    Sem problemas
21    Sem problemas
22        Em branco
23    Sem problemas
24        Em branco
25    Sem problemas
26    Sem problemas
27    Sem problemas
28    Sem problemas
29    Sem problemas
30    Sem problemas
31    Sem problemas
32    Sem problemas
33    Sem problemas
34    Sem problemas
35    Sem problemas
36    Sem problemas
37    Sem problemas
38    Sem problemas
39    Sem problemas
Name: TP_STATUS_REDACAO, dtype: object

In [21]:
q001 = {
    'A':'Nunca estudou.',
    'B':'Não completou a 4ª série/5º ano do Ensino Fundamental.',
    'C':'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.',
    'D':'Completou a 8ª série/9º ano, mas não completou o Ensino Médio.',
    'E':'Completou o Ensino Médio, mas não completou a Faculdade.',
    'F':'Completou a Faculdade, mas não completou a Pós-graduação.',
    'G':'Completou a Pós-graduação.',
    'H':'Não sei.'
    }

df['Q001'].replace(q001, inplace=True)
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120,120,100,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",B,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140,200,140,160,200,840,"Completou a 8ª série/9º ano, mas não completou...",D,B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120,120,120,120,0,480,"Completou a 4ª série/5º ano, mas não completou...",C,B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80,120,100,120,140,560,"Completou a 4ª série/5º ano, mas não completou...",D,B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140,120,120,120,120,620,"Completou a 4ª série/5º ano, mas não completou...",E,E

In [22]:

df['Q002'].replace(q001, inplace=True)
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120,120,100,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,C
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140,200,140,160,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...",B
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120,120,120,120,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...",B
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80,120,100,120,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...",B
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140,120,120,120,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...",E

In [23]:
q006 = {
    'A':'Nenhuma Renda.',
    'B':'Até R$ 1.100,00',
    'C':'De R$ 1.100,01 até R$ 1.650,00',
    'D':'De R$ 1.650,01 até R$ 2.200,00',
    'E':'De R$ 2.200,01 até R$ 2.750,00',
    'F':'De R$ 2.750,01 até R$ 3.300,00',
    'G':'De R$ 3.300,01 até R$ 4.400,00',
    'H':'De R$ 4.400,01 até R$ 5.500,00',
    'I':'De R$ 5.500,01 até R$ 6.600,00',
    'J':'De R$ 6.600,01 até R$ 7.700,00',
    'K':'De R$ 7.700,01 até R$ 8.800,00',
    'L':'De R$ 8.800,01 até R$ 9.900,00',
    'M':'De R$ 9.900,01 até R$ 11.000,00',
    'N':'De R$ 11.000,01 até R$ 13.200,00',
    'O':'De R$ 13.200,01 até R$ 16.500,00',
    'P':'De R$ 16.500,01 até R$ 22.000,00',
    'Q':'Acima de R$ 22.000,00.'



}

df['Q006'].replace(q006, inplace=True)
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120,120,100,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140,200,140,160,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,120,120,120,120,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,80,120,100,120,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Sem problemas,140,120,120,120,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00"

In [24]:
# um resumo conciso da base
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16588 entries, 0 to 16587
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TP_FAIXA_ETARIA         16588 non-null  object
 1   TP_SEXO                 16588 non-null  object
 2   TP_ESTADO_CIVIL         16588 non-null  object
 3   TP_COR_RACA             16588 non-null  object
 4   TP_ANO_CONCLUIU         16588 non-null  object
 5   TP_ESCOLA               16588 non-null  object
 6   TP_DEPENDENCIA_ADM_ESC  16588 non-null  object
 7   TP_PRESENCA_CN          16588 non-null  object
 8   TP_PRESENCA_CH          16588 non-null  object
 9   TP_PRESENCA_LC          16588 non-null  object
 10  TP_PRESENCA_MT          16588 non-null  object
 11  CO_PROVA_CN             16588 non-null  object
 12  CO_PROVA_CH             16588 non-null  object
 13  CO_PROVA_LC             16588 non-null  object
 14  CO_PROVA_MT             16588 non-null  object
 15  NU_NOTA_CN              16588 non-null  float64
 16  NU_NOTA_CH              16588 non-null  float64
 17  NU_NOTA_LC              16588 non-null  float64
 18  NU_NOTA_MT              16588 non-null  float64
 19  TP_LINGUA               16588 non-null  object
 20  TP_STATUS_REDACAO       16588 non-null  object
 21  NU_NOTA_COMP1           16588 non-null  int64
 22  NU_NOTA_COMP2           16588 non-null  int64
 23  NU_NOTA_COMP3           16588 non-null  int64
 24  NU_NOTA_COMP4           16588 non-null  int64
 25  NU_NOTA_COMP5           16588 non-null  int64
 26  NU_NOTA_REDACAO         16588 non-null  int64
 27  Q001                    16588 non-null  object
 28  Q002                    16588 non-null  object
 29  Q006                    16588 non-null  object
dtypes: float64(4), int64(6), object(20)
memory usage: 3.8+ MB

# a) Tabela de frequência para variáveis qualitativas

In [25]:
# * Tabela de Frequência para a variável TP_FAIXA_ETARIA: *

tabela_frequencia_TP_FAIXA_ETARIA = df['TP_FAIXA_ETARIA'].value_counts().reset_index()
tabela_frequencia_TP_FAIXA_ETARIA.columns = ['TP_FAIXA_ETARIA', 'Frequencia']

print(tabela_frequencia_TP_FAIXA_ETARIA)

       TP_FAIXA_ETARIA  Frequencia
0              17 anos        7104
1              18 anos        6683
2              19 anos        1663
3              20 anos         508
4              21 anos         157
5     Menor de 17 anos         124
6              22 anos          65
7   Entre 26 e 30 anos          60
8   Entre 36 e 40 anos          39
9   Entre 31 e 35 anos          36
10             23 anos          35
11  Entre 41 e 45 anos          30
12             24 anos          23
13  Entre 46 e 50 anos          21
14             25 anos          17
15  Entre 51 e 55 anos          10
16  Entre 56 e 60 anos           8
17  Entre 61 e 65 anos           5

In [26]:
# * Tabela de Frequência para a variável TP_SEXO: *

tabela_frequencia_TP_SEXO = df['TP_SEXO'].value_counts().reset_index()
tabela_frequencia_TP_SEXO.columns = ['TP_SEXO', 'Frequencia']

print(tabela_frequencia_TP_SEXO)

     TP_SEXO  Frequencia
0   Feminino        8965
1  Masculino        7623

In [27]:
# * Tabela de Frequência para a variável TP_ESTADO_CIVIL: *

tabela_frequencia_TP_ESTADO_CIVIL = df['TP_ESTADO_CIVIL'].value_counts().reset_index()
tabela_frequencia_TP_ESTADO_CIVIL.columns = ['TP_ESTADO_CIVIL', 'Frequencia']

print(tabela_frequencia_TP_ESTADO_CIVIL)

                           TP_ESTADO_CIVIL  Frequencia
0                                 Solteiro       15834
1                            Não informado         611
2  Divorciado(o)/Desquitado(a)/Separado(a)          77
3        Casado(a)/Mora com companheiro(a)          64
4                                 Viúvo(a)           2

In [28]:
# * Tabela de Frequência para a variável TP_COR_RACA: *

tabela_frequencia_TP_COR_RACA = df['TP_COR_RACA'].value_counts().reset_index()
tabela_frequencia_TP_COR_RACA.columns = ['TP_COR_RACA', 'Frequencia']

print(tabela_frequencia_TP_COR_RACA)

     TP_COR_RACA  Frequencia
0          Parda        9811
1         Branca        5100
2          Preta        1077
3  Não declarado         333
4        Amarela         212
5       Indígena          55

In [29]:
# * Tabela de Frequência para a variável TP_ANO_CONCLUIU: *

tabela_frequencia_TP_ANO_CONCLUIU = df['TP_ANO_CONCLUIU'].value_counts().reset_index()
tabela_frequencia_TP_ANO_CONCLUIU.columns = ['TP_ANO_CONCLUIU', 'Frequencia']

print(tabela_frequencia_TP_ANO_CONCLUIU)

  TP_ANO_CONCLUIU  Frequencia
0   Não informado       16588

In [30]:
# * Tabela de Frequência para a variável TP_ESCOLA: *

tabela_frequencia_TP_ESCOLA = df['TP_ESCOLA'].value_counts().reset_index()
tabela_frequencia_TP_ESCOLA.columns = ['TP_ESCOLA', 'Frequencia']

print(tabela_frequencia_TP_ESCOLA)

  TP_ESCOLA  Frequencia
0   Pública       12166
1   Privada        4422

In [31]:
# * Tabela de Frequência para a variável TP_DEPENDENCIA_ADM_ESC: *

tabela_frequencia_TP_DEPENDENCIA_ADM_ESC = df['TP_DEPENDENCIA_ADM_ESC'].value_counts().reset_index()
tabela_frequencia_TP_DEPENDENCIA_ADM_ESC.columns = ['TP_DEPENDENCIA_ADM_ESC', 'Frequencia']

print(tabela_frequencia_TP_DEPENDENCIA_ADM_ESC)

  TP_DEPENDENCIA_ADM_ESC  Frequencia
0               Estadual       11571
1                Privada        4677
2                Federal         339
3              Municipal           1

In [32]:
# * Tabela de Frequência para a variável TP_PRESENCA_CN: *

tabela_frequencia_TP_PRESENCA_CN = df['TP_PRESENCA_CN'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_CN.columns = ['TP_PRESENCA_CN', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_CN)

      TP_PRESENCA_CN  Frequencia
0  Presente na prova       16588

In [33]:
# * Tabela de Frequência para a variável TP_PRESENCA_CH: *

tabela_frequencia_TP_PRESENCA_CH = df['TP_PRESENCA_CH'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_CH.columns = ['TP_PRESENCA_CH', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_CH)

      TP_PRESENCA_CH  Frequencia
0  Presente na prova       16588

In [34]:
# * Tabela de Frequência para a variável TP_PRESENCA_LC: *

tabela_frequencia_TP_PRESENCA_LC = df['TP_PRESENCA_LC'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_LC.columns = ['TP_PRESENCA_LC', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_LC)

      TP_PRESENCA_LC  Frequencia
0  Presente na prova       16588

In [35]:
# * Tabela de Frequência para a variável TP_PRESENCA_MT: *

tabela_frequencia_TP_PRESENCA_MT = df['TP_PRESENCA_MT'].value_counts().reset_index()
tabela_frequencia_TP_PRESENCA_MT.columns = ['TP_PRESENCA_MT', 'Frequencia']

print(tabela_frequencia_TP_PRESENCA_MT)

      TP_PRESENCA_MT  Frequencia
0  Presente na prova       16588

In [36]:
# * Tabela de Frequência para a variável CO_PROVA_CN: *

tabela_frequencia_CO_PROVA_CN = df['CO_PROVA_CN'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_CN.columns = ['CO_PROVA_CN', 'Frequencia']

print(tabela_frequencia_CO_PROVA_CN)

                    CO_PROVA_CN  Frequencia
0                       Amarela        4077
1                          Rosa        4070
2                          Azul        4014
3                         Cinza        3986
4               Cinza (Digital)         111
5                Azul (Digital)         108
6             Amarela (Digital)         106
7                Rosa (Digital)          96
8   Verde - Videoprova - Libras          17
9      Laranja - Adpatada Ledor           2
10            Azul(Reaplicação)           1

In [37]:
# * Tabela de Frequência para a variável CO_PROVA_CH: *

tabela_frequencia_CO_PROVA_CH = df['CO_PROVA_CH'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_CH.columns = ['CO_PROVA_CH', 'Frequencia']

print(tabela_frequencia_CO_PROVA_CH)

                   CO_PROVA_CH  Frequencia
0                         Rosa        4071
1                      Amarela        4032
2                         Azul        4031
3                       Branca        4014
4            Amarela (Digital)         111
5             Branca (Digital)         108
6               Azul (Digital)         106
7               Rosa (Digital)          96
8  Verde - Videoprova - Libras          17
9     Laranja - Adpatada Ledor           2

In [38]:
# * Tabela de Frequência para a variável CO_PROVA_LC: *

tabela_frequencia_CO_PROVA_LC = df['CO_PROVA_LC'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_LC.columns = ['CO_PROVA_LC', 'Frequencia']

print(tabela_frequencia_CO_PROVA_LC)

                   CO_PROVA_LC  Frequencia
0                         Rosa        4071
1                      Amarela        4032
2                         Azul        4031
3                       Branca        4014
4            Amarela (Digital)         111
5             Branca (Digital)         108
6               Azul (Digital)         106
7               Rosa (Digital)          96
8  Verde - Videoprova - Libras          17
9     Laranja - Adpatada Ledor           2

In [39]:
# * Tabela de Frequência para a variável CO_PROVA_MT: *

tabela_frequencia_CO_PROVA_MT = df['CO_PROVA_MT'].value_counts().reset_index()
tabela_frequencia_CO_PROVA_MT.columns = ['CO_PROVA_MT', 'Frequencia']

print(tabela_frequencia_CO_PROVA_MT)

                    CO_PROVA_MT  Frequencia
0                       Amarela        4077
1                          Rosa        4070
2                          Azul        4014
3                         Cinza        3986
4               Cinza (Digital)         111
5                Azul (Digital)         108
6             Amarela (Digital)         106
7                Rosa (Digital)          96
8   Verde - Videoprova - Libras          17
9      Laranja - Adpatada Ledor           2
10            Azul(Reaplicação)           1

In [40]:
# * Tabela de Frequência para a variável TP_LINGUA: *

tabela_frequencia_TP_LINGUA = df['TP_LINGUA'].value_counts().reset_index()
tabela_frequencia_TP_LINGUA.columns = ['TP_LINGUA', 'Frequencia']

print(tabela_frequencia_TP_LINGUA)

  TP_LINGUA  Frequencia
0    Inglês        8633
1  Espanhol        7955

In [41]:
# * Tabela de Frequência para a variável TP_STATUS_REDACAO: *

tabela_frequencia_TP_STATUS_REDACAO = df['TP_STATUS_REDACAO'].value_counts().reset_index()
tabela_frequencia_TP_STATUS_REDACAO.columns = ['TP_STATUS_REDACAO', 'Frequencia']

print(tabela_frequencia_TP_STATUS_REDACAO)

                 TP_STATUS_REDACAO  Frequencia
0                    Sem problemas       15798
1                        Em branco         398
2                     Fuga ao tema         236
3            Cópia texto motivador          71
4               Texto insuficiente          45
5  Não atendimento ao tipo textual          18
6               Parte desconectada          14
7                          Anulada           8

In [42]:
# * Tabela de Frequência para a variável Q001: *

tabela_frequencia_Q001 = df['Q001'].value_counts().reset_index()
tabela_frequencia_Q001.columns = ['Q001', 'Frequencia']

print(tabela_frequencia_Q001)

                                                Q001  Frequencia
0  Completou o Ensino Médio, mas não completou a ...        4557
1  Completou a 8ª série/9º ano, mas não completou...        2650
2                                           Não sei.        2433
3  Completou a 4ª série/5º ano, mas não completou...        2194
4  Não completou a 4ª série/5º ano do Ensino Fund...        1790
5  Completou a Faculdade, mas não completou a Pós...        1385
6                         Completou a Pós-graduação.        1298
7                                     Nunca estudou.         281

In [43]:
# * Tabela de Frequência para a variável Q002: *

tabela_frequencia_Q002 = df['Q002'].value_counts().reset_index()
tabela_frequencia_Q002.columns = ['Q002', 'Frequencia']

print(tabela_frequencia_Q002)

                                                Q002  Frequencia
0  Completou o Ensino Médio, mas não completou a ...        4911
1  Completou a 8ª série/9º ano, mas não completou...        2942
2  Completou a 4ª série/5º ano, mas não completou...        2178
3  Completou a Faculdade, mas não completou a Pós...        1737
4                         Completou a Pós-graduação.        1666
5                                           Não sei.        1597
6  Não completou a 4ª série/5º ano do Ensino Fund...        1368
7                                     Nunca estudou.         189

In [44]:
# * Tabela de Frequência para a variável Q006: *

tabela_frequencia_Q006 = df['Q006'].value_counts().reset_index()
tabela_frequencia_Q006.columns = ['Q006', 'Frequencia']

print(tabela_frequencia_Q006
      )

                                Q006  Frequencia
0                    Até R$ 1.100,00        6620
1     De R$ 1.100,01 até R$ 1.650,00        2992
2     De R$ 1.650,01 até R$ 2.200,00        1501
3     De R$ 2.200,01 até R$ 2.750,00         667
4     De R$ 2.750,01 até R$ 3.300,00         655
5                     Nenhuma Renda.         609
6     De R$ 3.300,01 até R$ 4.400,00         606
7     De R$ 4.400,01 até R$ 5.500,00         574
8     De R$ 5.500,01 até R$ 6.600,00         402
9             Acima de R$ 22.000,00.         336
10   De R$ 9.900,01 até R$ 11.000,00         304
11  De R$ 16.500,01 até R$ 22.000,00         280
12    De R$ 6.600,01 até R$ 7.700,00         246
13  De R$ 13.200,01 até R$ 16.500,00         227
14  De R$ 11.000,01 até R$ 13.200,00         215
15    De R$ 7.700,01 até R$ 8.800,00         189
16    De R$ 8.800,01 até R$ 9.900,00         165

# b) Categorizar as variáveis quantitativas e criar uma nova variáveis com essas categorias.

In [45]:
import math

# para fazer o cálculo de logaritmo da fórmula do número de classes

In [46]:
# VARIÁVEL NU_NOTA_CN

# número de observações (n)

n = 16587

k = int(1 + 3.3*math.log10(n))

k

14

In [48]:
# cálculo da amplitude total de NU_NOTA_CN:

amp_NU_NOTA_CN = df['NU_NOTA_CN'].max() - df['NU_NOTA_CN'].min()
amp_NU_NOTA_CN

815.1

In [49]:
# CÁLCULO DA AMPLITUDE DE CADA CLASSE:
amp_classe = amp_NU_NOTA_CN / k

amp_classe

58.221428571428575

In [50]:
# definir os limites de intervalo para categorização da variável NU_NOTA_CN

bins = [df['NU_NOTA_CN'].min() + i * amp_classe for i in range(k + 1)]

In [51]:
# inserir a coluna na base da categorização da variável NU_NOTA_CN

df['Intervalo de Classe - NU_NOTA_CN'] = pd.cut(df['NU_NOTA_CN'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,100,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,140,200,140,160,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,120,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,80,120,100,120,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140,120,120,120,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,160,160,680,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,80,120,120,120,160,600,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,140,180,180,160,200,860,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,160,200,720,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,160,200,160,180,160,860,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)"

In [52]:
# NU_NOTA_CH

# número de observações (n)

n = 16587

k = int(1 + 3.3*math.log10(n))

k

14

In [53]:
# cálculo da amplitude total de NU_NOTA_CH:

amp_total = df['NU_NOTA_CH'].max() - df['NU_NOTA_CH'].min()
amp_total

846.9

In [54]:
# cálculo da amplitude de cada classe
# amplitude = amplitude total / k

amplitude_classe = amp_total / k
amplitude_classe

60.49285714285714

In [55]:
# definir os limites de intervalo para categorização:

bins = [df['NU_NOTA_CH'].min() + i * amplitude_classe for i in range(k + 1)]
bins

[0.0,
 60.49285714285714,
 120.98571428571428,
 181.47857142857143,
 241.97142857142856,
 302.4642857142857,
 362.95714285714286,
 423.45,
 483.9428571428571,
 544.4357142857143,
 604.9285714285714,
 665.4214285714286,
 725.9142857142857,
 786.4071428571428,
 846.9]

In [56]:
# inserir a coluna da categorização na base
df['Intervalo de Classe - NU_NOTA_CH'] = pd.cut(df['NU_NOTA_CH'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,100,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,200,140,160,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,100,120,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,160,160,680,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,160,600,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,180,180,160,200,860,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,160,200,720,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,200,160,180,160,860,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)"

In [57]:
# variável NU_NOTA_LC

# número de observações (n):

n = 16587

# número de classes (k):
k = int(1 + 3.3*math.log10(n))

k

14

In [59]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_LC'].max() - df['NU_NOTA_LC'].min()

amp_total

760.5

In [60]:
# cálculo da amplitude de classe:

amp_classe = amp_total / k

amp_classe

54.32142857142857

In [61]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_LC'].min() + i * amp_classe for i in range(k + 1)]
bins

[0.0,
 54.32142857142857,
 108.64285714285714,
 162.96428571428572,
 217.28571428571428,
 271.60714285714283,
 325.92857142857144,
 380.25,
 434.57142857142856,
 488.8928571428571,
 543.2142857142857,
 597.5357142857142,
 651.8571428571429,
 706.1785714285714,
 760.5]

In [62]:
# inserir a coluna da categorização na base:
df['Intervalo de Classe - NU_NOTA_LC'] = pd.cut(df['NU_NOTA_LC'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,100,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,140,160,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,120,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,100,120,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,120,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,160,160,680,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,120,160,600,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,180,160,200,860,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,160,200,720,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,160,180,160,860,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)"

In [63]:
# variável NU_NOTA_MT

# número de observações (n):

n = 16587

# número de classes (k):
k = int(1 + 3.3*math.log10(n))

k

14

In [64]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_MT'].max() - df['NU_NOTA_MT'].min()

amp_total

953.1

In [65]:
# cálculo da amplitude de classe:

amp_classe = amp_total / k

amp_classe

68.07857142857144

In [66]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_MT'].min() + i * amp_classe for i in range(k + 1)]
bins

[0.0,
 68.07857142857144,
 136.15714285714287,
 204.23571428571432,
 272.31428571428575,
 340.39285714285717,
 408.47142857142865,
 476.55000000000007,
 544.6285714285715,
 612.7071428571429,
 680.7857142857143,
 748.8642857142858,
 816.9428571428573,
 885.0214285714287,
 953.1000000000001]

In [67]:
# inserir a coluna da categorização na base:
df['Intervalo de Classe - NU_NOTA_MT'] = pd.cut(df['NU_NOTA_MT'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC,Intervalo de Classe - NU_NOTA_MT
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,100,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)","[408.471, 476.55)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,160,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)","[408.471, 476.55)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)","[476.55, 544.629)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)","[340.393, 408.471)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,160,160,680,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)","[612.707, 680.786)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,120,160,600,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)","[340.393, 408.471)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,160,200,860,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)","[612.707, 680.786)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,160,200,720,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)","[340.393, 408.471)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,180,160,860,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)"

In [78]:
# VARIÁVEL NU_NOTA_COMP1

# NÚMERO DE OBSERVAÇÕES (n):

n = 16587

# NÚMERO DE CLASSES (k):

k = int(1 + 3.3*math.log10(n))
k

14

In [79]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_COMP1'].max() - df['NU_NOTA_COMP1'].min()

amp_total

200

In [80]:
# cálculo da amplitude de classe:

amp_classe = amp_total / k

amp_classe

14.285714285714286

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16588 entries, 0 to 16587
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TP_FAIXA_ETARIA                   16588 non-null  object
 1   TP_SEXO                           16588 non-null  object
 2   TP_ESTADO_CIVIL                   16588 non-null  object
 3   TP_COR_RACA                       16588 non-null  object
 4   TP_ANO_CONCLUIU                   16588 non-null  object
 5   TP_ESCOLA                         16588 non-null  object
 6   TP_DEPENDENCIA_ADM_ESC            16588 non-null  object
 7   TP_PRESENCA_CN                    16588 non-null  object
 8   TP_PRESENCA_CH                    16588 non-null  object
 9   TP_PRESENCA_LC                    16588 non-null  object
 10  TP_PRESENCA_MT                    16588 non-null  object
 11  CO_PROVA_CN                       16588 non-null  object
 12  CO_PROVA_CH                       16588 non-null  object
 13  CO_PROVA_LC                       16588 non-null  object
 14  CO_PROVA_MT                       16588 non-null  object
 15  NU_NOTA_CN                        16588 non-null  float64
 16  NU_NOTA_CH                        16588 non-null  float64
 17  NU_NOTA_LC                        16588 non-null  float64
 18  NU_NOTA_MT                        16588 non-null  float64
 19  TP_LINGUA                         16588 non-null  object
 20  TP_STATUS_REDACAO                 16588 non-null  object
 21  NU_NOTA_COMP1                     16588 non-null  int64
 22  NU_NOTA_COMP2                     16588 non-null  int64
 23  NU_NOTA_COMP3                     16588 non-null  int64
 24  NU_NOTA_COMP4                     16588 non-null  int64
 25  NU_NOTA_COMP5                     16588 non-null  int64
 26  NU_NOTA_REDACAO                   16588 non-null  int64
 27  Q001                              16588 non-null  object
 28  Q002                              16588 non-null  object
 29  Q006                              16588 non-null  object
 30  Intervalo de Classe - NU_NOTA_CN  16587 non-null  category
 31  Intervalo de Classe - NU_NOTA_CH  16587 non-null  category
 32  Intervalo de Classe - NU_NOTA_LC  16587 non-null  category
 33  Intervalo de Classe - NU_NOTA_MT  16588 non-null  category
dtypes: category(4), float64(4), int64(6), object(20)
memory usage: 3.9+ MB

In [82]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_COMP1'].min() + i * amp_classe for i in range(k + 1)]
bins

[0.0,
 14.285714285714286,
 28.571428571428573,
 42.85714285714286,
 57.142857142857146,
 71.42857142857143,
 85.71428571428572,
 100.0,
 114.28571428571429,
 128.57142857142858,
 142.85714285714286,
 157.14285714285714,
 171.42857142857144,
 185.71428571428572,
 200.0]

In [83]:
# inserir a coluna da categorização na base:

df['Intervalo de Classe - NU_NOTA_COMP1'] = pd.cut(df['NU_NOTA_COMP1'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC,Intervalo de Classe - NU_NOTA_MT,Intervalo de Classe - NU_NOTA_COMP1
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,20,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,200,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[128.571, 142.857)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,0,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,140,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)","[476.55, 544.629)","[71.429, 85.714)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,120,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)","[340.393, 408.471)","[128.571, 142.857)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,160,680,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)","[612.707, 680.786)","[114.286, 128.571)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,160,600,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)","[340.393, 408.471)","[71.429, 85.714)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,200,860,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)","[612.707, 680.786)","[128.571, 142.857)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,200,720,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)","[340.393, 408.471)","[114.286, 128.571)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,160,860,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[157.143, 171.429)"

In [84]:
# variável NU_NOTA_COMP2:

# número de observações(n):

n = 16587

# número de classes (k):

k = int(1 + 3.3*math.log10(n))
k

14

In [85]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_COMP2'].max() - df['NU_NOTA_COMP2'].min()

amp_total

200

In [86]:
# CÁLCULO DA AMPLITUDE DE CLASSE:

amp_classe = amp_total / k

amp_classe

14.285714285714286

In [87]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_COMP2'].min() + i * amp_classe for i in range(k+1)]
bins

[0.0,
 14.285714285714286,
 28.571428571428573,
 42.85714285714286,
 57.142857142857146,
 71.42857142857143,
 85.71428571428572,
 100.0,
 114.28571428571429,
 128.57142857142858,
 142.85714285714286,
 157.14285714285714,
 171.42857142857144,
 185.71428571428572,
 200.0]

In [88]:
# inserir a coluna da categorização na base:

df['Intervalo de Classe - NU_NOTA_COMP2'] = pd.cut(df['NU_NOTA_COMP2'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_REDACAO,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC,Intervalo de Classe - NU_NOTA_MT,Intervalo de Classe - NU_NOTA_COMP1,Intervalo de Classe - NU_NOTA_COMP2
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,460,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,840,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[128.571, 142.857)",NaN
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,480,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,560,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)","[476.55, 544.629)","[71.429, 85.714)","[114.286, 128.571)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,620,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)","[340.393, 408.471)","[128.571, 142.857)","[114.286, 128.571)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,680,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)","[612.707, 680.786)","[114.286, 128.571)","[114.286, 128.571)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,600,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)","[340.393, 408.471)","[71.429, 85.714)","[114.286, 128.571)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,860,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)","[612.707, 680.786)","[128.571, 142.857)","[171.429, 185.714)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,720,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)","[340.393, 408.471)","[114.286, 128.571)","[114.286, 128.571)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,860,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[157.143, 171.429)",NaN

In [89]:
# variável NU_NOTA_COMP3:

# número de observações (n)

n = 16587

# número de classes (k):

k = int(1 + 3.3*math.log10(n))

k

14

In [90]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_COMP3'].max() - df['NU_NOTA_COMP3'].min()

amp_total

200

In [91]:
# CÁLCULO DA AMPLITUDE DE CLASSE:

amp_classe = amp_total / k
amp_classe

14.285714285714286

In [92]:
# definir os limites de intervalo para categorização da variável

bins = [df['NU_NOTA_COMP3'].min() + i * amp_classe for i in range(k+1)]
bins

[0.0,
 14.285714285714286,
 28.571428571428573,
 42.85714285714286,
 57.142857142857146,
 71.42857142857143,
 85.71428571428572,
 100.0,
 114.28571428571429,
 128.57142857142858,
 142.85714285714286,
 157.14285714285714,
 171.42857142857144,
 185.71428571428572,
 200.0]

In [93]:
# inserir a coluna da categorização da base:

df['Intervalo de Classe - NU_NOTA_COMP3'] = pd.cut(df['NU_NOTA_COMP3'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,Q001,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC,Intervalo de Classe - NU_NOTA_MT,Intervalo de Classe - NU_NOTA_COMP1,Intervalo de Classe - NU_NOTA_COMP2,Intervalo de Classe - NU_NOTA_COMP3
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 8ª série/9º ano, mas não completou...",Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)","[100.0, 114.286)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 8ª série/9º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[128.571, 142.857)",NaN,"[128.571, 142.857)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 4ª série/5º ano, mas não completou...","Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 4ª série/5º ano, mas não completou...","Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)","[476.55, 544.629)","[71.429, 85.714)","[114.286, 128.571)","[100.0, 114.286)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 4ª série/5º ano, mas não completou...","Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)","[340.393, 408.471)","[128.571, 142.857)","[114.286, 128.571)","[114.286, 128.571)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou o Ensino Médio, mas não completou a ...","Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)","[612.707, 680.786)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)","[340.393, 408.471)","[71.429, 85.714)","[114.286, 128.571)","[114.286, 128.571)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)","[612.707, 680.786)","[128.571, 142.857)","[171.429, 185.714)","[171.429, 185.714)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou o Ensino Médio, mas não completou a ...","Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)","[340.393, 408.471)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Completou a Pós-graduação.,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[157.143, 171.429)",NaN,"[157.143, 171.429)"

In [94]:
# variável NU_NOTA_COMP4:

# número de observações (n):

n = 16587

# número de classes (k):

k = int(1 + 3.3*math.log10(n))

k

14

In [95]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_COMP4'].max() - df['NU_NOTA_COMP4'].min()
amp_total

200

In [96]:
# cálculo da amplitude de classe:

amp_classe = amp_total / k
amp_classe

14.285714285714286

In [97]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_COMP4'].min() + i * amp_classe for i in range(k + 1)]
bins

[0.0,
 14.285714285714286,
 28.571428571428573,
 42.85714285714286,
 57.142857142857146,
 71.42857142857143,
 85.71428571428572,
 100.0,
 114.28571428571429,
 128.57142857142858,
 142.85714285714286,
 157.14285714285714,
 171.42857142857144,
 185.71428571428572,
 200.0]

In [98]:
# inserir a coluna da categorizzação na base:

df['Intervalo de Classe - NU_NOTA_COMP4'] = pd.cut(df['NU_NOTA_COMP4'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,Q002,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC,Intervalo de Classe - NU_NOTA_MT,Intervalo de Classe - NU_NOTA_COMP1,Intervalo de Classe - NU_NOTA_COMP2,Intervalo de Classe - NU_NOTA_COMP3,Intervalo de Classe - NU_NOTA_COMP4
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,Não completou a 4ª série/5º ano do Ensino Fund...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)","[100.0, 114.286)","[100.0, 114.286)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[128.571, 142.857)",NaN,"[128.571, 142.857)","[157.143, 171.429)"
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 4ª série/5º ano, mas não completou...","Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 8ª série/9º ano, mas não completou...","Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)","[476.55, 544.629)","[71.429, 85.714)","[114.286, 128.571)","[100.0, 114.286)","[114.286, 128.571)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Completou o Ensino Médio, mas não completou a ...","De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)","[340.393, 408.471)","[128.571, 142.857)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou o Ensino Médio, mas não completou a ...","De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)","[612.707, 680.786)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[157.143, 171.429)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,Completou a Pós-graduação.,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)","[340.393, 408.471)","[71.429, 85.714)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 8ª série/9º ano, mas não completou...","De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)","[612.707, 680.786)","[128.571, 142.857)","[171.429, 185.714)","[171.429, 185.714)","[157.143, 171.429)"
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Completou a 8ª série/9º ano, mas não completou...","Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)","[340.393, 408.471)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[157.143, 171.429)"
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,Completou a Pós-graduação.,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[157.143, 171.429)",NaN,"[157.143, 171.429)","[171.429, 185.714)"

In [99]:
# variável NU_NOTA_COMP5:

# número de observações (n):
n = 16587

# número de classes (k):
k = int(1 + 3.3*math.log10(n))

k

14

In [100]:
# cálculo da amplitude total:

amp_total = df['NU_NOTA_COMP5'].max() - df['NU_NOTA_COMP5'].min()
amp_total

200

In [101]:
# cálculo da amplitude de classe:

amp_classe = amp_total / k
amp_classe

14.285714285714286

In [103]:
# definir os limites de intervalo para categorização da variável:

bins = [df['NU_NOTA_COMP4'].min() + i * amp_classe for i in range(k+1)]
bins

[0.0,
 14.285714285714286,
 28.571428571428573,
 42.85714285714286,
 57.142857142857146,
 71.42857142857143,
 85.71428571428572,
 100.0,
 114.28571428571429,
 128.57142857142858,
 142.85714285714286,
 157.14285714285714,
 171.42857142857144,
 185.71428571428572,
 200.0]

In [104]:
# inserir a coluna da categorização na base:

df['Intervalo de Classe - NU_NOTA_COMP5'] = pd.cut(df['NU_NOTA_COMP5'], bins, right=False)
df

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,TP_DEPENDENCIA_ADM_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,Q006,Intervalo de Classe - NU_NOTA_CN,Intervalo de Classe - NU_NOTA_CH,Intervalo de Classe - NU_NOTA_LC,Intervalo de Classe - NU_NOTA_MT,Intervalo de Classe - NU_NOTA_COMP1,Intervalo de Classe - NU_NOTA_COMP2,Intervalo de Classe - NU_NOTA_COMP3,Intervalo de Classe - NU_NOTA_COMP4,Intervalo de Classe - NU_NOTA_COMP5
0,20 anos,Masculino,Solteiro,Parda,Não informado,Pública,Privada,Presente na prova,Presente na prova,Presente na prova,...,"De R$ 1.100,01 até R$ 1.650,00","[349.329, 407.55)","[544.436, 604.929)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)","[100.0, 114.286)","[100.0, 114.286)","[14.286, 28.571)"
1,18 anos,Feminino,Não informado,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Até R$ 1.100,00","[582.214, 640.436)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[128.571, 142.857)",NaN,"[128.571, 142.857)","[157.143, 171.429)",NaN
2,18 anos,Feminino,Solteiro,Parda,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Até R$ 1.100,00","[349.329, 407.55)","[362.957, 423.45)","[380.25, 434.571)","[408.471, 476.55)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[0.0, 14.286)"
3,18 anos,Masculino,Solteiro,Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"Até R$ 1.100,00","[407.55, 465.771)","[483.943, 544.436)","[488.893, 543.214)","[476.55, 544.629)","[71.429, 85.714)","[114.286, 128.571)","[100.0, 114.286)","[114.286, 128.571)","[128.571, 142.857)"
4,Entre 31 e 35 anos,Feminino,Casado(a)/Mora com companheiro(a),Branca,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"De R$ 2.200,01 até R$ 2.750,00","[407.55, 465.771)","[665.421, 725.914)","[543.214, 597.536)","[340.393, 408.471)","[128.571, 142.857)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16583,19 anos,Feminino,Solteiro,Preta,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"De R$ 1.100,01 até R$ 1.650,00","[465.771, 523.993)","[483.943, 544.436)","[488.893, 543.214)","[612.707, 680.786)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[157.143, 171.429)","[157.143, 171.429)"
16584,18 anos,Feminino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"De R$ 2.750,01 até R$ 3.300,00","[349.329, 407.55)","[362.957, 423.45)","[325.929, 380.25)","[340.393, 408.471)","[71.429, 85.714)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[157.143, 171.429)"
16585,18 anos,Masculino,Solteiro,Branca,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"De R$ 2.750,01 até R$ 3.300,00","[582.214, 640.436)","[604.929, 665.421)","[543.214, 597.536)","[612.707, 680.786)","[128.571, 142.857)","[171.429, 185.714)","[171.429, 185.714)","[157.143, 171.429)",NaN
16586,18 anos,Feminino,Solteiro,Parda,Não informado,Privada,Privada,Presente na prova,Presente na prova,Presente na prova,...,"Acima de R$ 22.000,00.","[407.55, 465.771)","[302.464, 362.957)","[380.25, 434.571)","[340.393, 408.471)","[114.286, 128.571)","[114.286, 128.571)","[114.286, 128.571)","[157.143, 171.429)",NaN
16587,17 anos,Masculino,Casado(a)/Mora com companheiro(a),Preta,Não informado,Pública,Estadual,Presente na prova,Presente na prova,Presente na prova,...,"De R$ 7.700,01 até R$ 8.800,00","[465.771, 523.993)","[665.421, 725.914)","[543.214, 597.536)","[680.786, 748.864)","[157.143, 171.429)",NaN,"[157.143, 171.429)","[171.429, 185.714)","[157.143, 171.429)"

# c) Tabela de frequência para as novas variáveis categóricas

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16588 entries, 0 to 16587
Data columns (total 39 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   TP_FAIXA_ETARIA                      16588 non-null  object
 1   TP_SEXO                              16588 non-null  object
 2   TP_ESTADO_CIVIL                      16588 non-null  object
 3   TP_COR_RACA                          16588 non-null  object
 4   TP_ANO_CONCLUIU                      16588 non-null  object
 5   TP_ESCOLA                            16588 non-null  object
 6   TP_DEPENDENCIA_ADM_ESC               16588 non-null  object
 7   TP_PRESENCA_CN                       16588 non-null  object
 8   TP_PRESENCA_CH                       16588 non-null  object
 9   TP_PRESENCA_LC                       16588 non-null  object
 10  TP_PRESENCA_MT                       16588 non-null  object
 11  CO_PROVA_CN                          16588 non-null  object
 12  CO_PROVA_CH                          16588 non-null  object
 13  CO_PROVA_LC                          16588 non-null  object
 14  CO_PROVA_MT                          16588 non-null  object
 15  NU_NOTA_CN                           16588 non-null  float64
 16  NU_NOTA_CH                           16588 non-null  float64
 17  NU_NOTA_LC                           16588 non-null  float64
 18  NU_NOTA_MT                           16588 non-null  float64
 19  TP_LINGUA                            16588 non-null  object
 20  TP_STATUS_REDACAO                    16588 non-null  object
 21  NU_NOTA_COMP1                        16588 non-null  int64
 22  NU_NOTA_COMP2                        16588 non-null  int64
 23  NU_NOTA_COMP3                        16588 non-null  int64
 24  NU_NOTA_COMP4                        16588 non-null  int64
 25  NU_NOTA_COMP5                        16588 non-null  int64
 26  NU_NOTA_REDACAO                      16588 non-null  int64
 27  Q001                                 16588 non-null  object
 28  Q002                                 16588 non-null  object
 29  Q006                                 16588 non-null  object
 30  Intervalo de Classe - NU_NOTA_CN     16587 non-null  category
 31  Intervalo de Classe - NU_NOTA_CH     16587 non-null  category
 32  Intervalo de Classe - NU_NOTA_LC     16587 non-null  category
 33  Intervalo de Classe - NU_NOTA_MT     16588 non-null  category
 34  Intervalo de Classe - NU_NOTA_COMP1  16540 non-null  category
 35  Intervalo de Classe - NU_NOTA_COMP2  13299 non-null  category
 36  Intervalo de Classe - NU_NOTA_COMP3  16360 non-null  category
 37  Intervalo de Classe - NU_NOTA_COMP4  15332 non-null  category
 38  Intervalo de Classe - NU_NOTA_COMP5  14274 non-null  category
dtypes: category(9), float64(4), int64(6), object(20)
memory usage: 3.9+ MB

In [108]:
# tabela de frequência para a categoria Intervalo de Classe - NU_NOTA_CN:

tabela_frequencia_NU_NOTA_CN = df['Intervalo de Classe - NU_NOTA_CN'].value_counts()

print(tabela_frequencia_NU_NOTA_CN)

Intervalo de Classe - NU_NOTA_CN
[407.55, 465.771)     4871
[465.771, 523.993)    3704
[349.329, 407.55)     3077
[523.993, 582.214)    2474
[582.214, 640.436)    1489
[640.436, 698.657)     609
[698.657, 756.879)     182
[291.107, 349.329)     154
[756.879, 815.1)        26
[0.0, 58.221)            1
[58.221, 116.443)        0
[116.443, 174.664)       0
[174.664, 232.886)       0
[232.886, 291.107)       0
Name: count, dtype: int64

In [110]:
# tabela de frequência para a categoria Intervalo de Classe - NU_NOTA_CH:

tabela_frequencia_NU_NOTA_CH = df['Intervalo de Classe - NU_NOTA_CH'].value_counts()
print(tabela_frequencia_NU_NOTA_CH)

Intervalo de Classe - NU_NOTA_CH
[423.45, 483.943)     3491
[483.943, 544.436)    3377
[544.436, 604.929)    3279
[362.957, 423.45)     2735
[604.929, 665.421)    2181
[665.421, 725.914)     738
[302.464, 362.957)     559
[725.914, 786.407)     183
[0.0, 60.493)           23
[786.407, 846.9)        21
[60.493, 120.986)        0
[120.986, 181.479)       0
[181.479, 241.971)       0
[241.971, 302.464)       0
Name: count, dtype: int64

In [111]:
# tabela de frequnecia para a variável Intervalo de Classe - NU_NOTA_LC:

tabela_frequencia_NU_NOTA_LC = df['Intervalo de Classe - NU_NOTA_LC'].value_counts()
print(tabela_frequencia_NU_NOTA_LC)

Intervalo de Classe - NU_NOTA_LC
[488.893, 543.214)    4209
[434.571, 488.893)    3735
[543.214, 597.536)    3208
[380.25, 434.571)     2487
[597.536, 651.857)    1363
[325.929, 380.25)     1094
[651.857, 706.179)     332
[271.607, 325.929)     119
[706.179, 760.5)        33
[0.0, 54.321)            7
[54.321, 108.643)        0
[108.643, 162.964)       0
[162.964, 217.286)       0
[217.286, 271.607)       0
Name: count, dtype: int64

In [112]:
# tabela de frequencia para a variável Intervalo de Classe - NU_NOTA_MT:

tabela_frequencia_NU_NOTA_MT = df['Intervalo de Classe - NU_NOTA_MT'].value_counts()
print(tabela_frequencia_NU_NOTA_MT)

Intervalo de Classe - NU_NOTA_MT
[408.471, 476.55)     4769
[476.55, 544.629)     3234
[544.629, 612.707)    2392
[340.393, 408.471)    2084
[612.707, 680.786)    1923
[680.786, 748.864)    1248
[748.864, 816.943)     632
[816.943, 885.021)     242
[885.021, 953.1)        61
[0.0, 68.079)            3
[68.079, 136.157)        0
[136.157, 204.236)       0
[204.236, 272.314)       0
[272.314, 340.393)       0
Name: count, dtype: int64

In [113]:
# tabela de frequência para a variável Intervalo de Classe - NU_NOTA_COMP1:

tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP1 = df['Intervalo de Classe - NU_NOTA_COMP1'].value_counts()
print(tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP1)

Intervalo de Classe - NU_NOTA_COMP1
[114.286, 128.571)    5515
[157.143, 171.429)    2942
[100.0, 114.286)      2535
[128.571, 142.857)    2298
[71.429, 85.714)      1693
[0.0, 14.286)          793
[171.429, 185.714)     387
[57.143, 71.429)       299
[28.571, 42.857)        73
[14.286, 28.571)         5
[42.857, 57.143)         0
[85.714, 100.0)          0
[142.857, 157.143)       0
[185.714, 200.0)         0
Name: count, dtype: int64

In [114]:
# tabela de frequência para a variável Intervalo de Classe - NU_NOTA_COMP2:

tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP2 = df['Intervalo de Classe - NU_NOTA_COMP2'].value_counts()
print(tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP2)

Intervalo de Classe - NU_NOTA_COMP2
[114.286, 128.571)    8079
[171.429, 185.714)    1551
[157.143, 171.429)    1059
[0.0, 14.286)          790
[128.571, 142.857)     718
[100.0, 114.286)       567
[28.571, 42.857)       297
[71.429, 85.714)       195
[57.143, 71.429)        43
[14.286, 28.571)         0
[42.857, 57.143)         0
[85.714, 100.0)          0
[142.857, 157.143)       0
[185.714, 200.0)         0
Name: count, dtype: int64

In [115]:
# tabela de frequencia para a variável Intervalo de Classe - NU_NOTA_COMP3:

tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP3 = df['Intervalo de Classe - NU_NOTA_COMP3'].value_counts()
print(tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP3)

Intervalo de Classe - NU_NOTA_COMP3
[114.286, 128.571)    5780
[100.0, 114.286)      2955
[71.429, 85.714)      2162
[128.571, 142.857)    1762
[157.143, 171.429)    1731
[0.0, 14.286)          798
[171.429, 185.714)     759
[28.571, 42.857)       271
[57.143, 71.429)       139
[14.286, 28.571)         3
[42.857, 57.143)         0
[85.714, 100.0)          0
[142.857, 157.143)       0
[185.714, 200.0)         0
Name: count, dtype: int64

In [116]:
# tabela de frequencia para a variável Intervalo de Classe - NU_NOTA_COMP4:

tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP4 = df['Intervalo de Classe - NU_NOTA_COMP4'].value_counts()
print(tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP4)

Intervalo de Classe - NU_NOTA_COMP4
[114.286, 128.571)    6069
[157.143, 171.429)    2054
[128.571, 142.857)    1939
[100.0, 114.286)      1820
[171.429, 185.714)    1446
[71.429, 85.714)      1082
[0.0, 14.286)          794
[57.143, 71.429)       108
[28.571, 42.857)        13
[14.286, 28.571)         7
[42.857, 57.143)         0
[85.714, 100.0)          0
[142.857, 157.143)       0
[185.714, 200.0)         0
Name: count, dtype: int64

In [117]:
# tabela frequencia para a variável Intervalo de Classe - NU_NOTA_COMP5:

tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP5 = df['Intervalo de Classe - NU_NOTA_COMP5'].value_counts()
print(tabela_frequencia_Intervalo_de_Classe_NU_NOTA_COMP5)

Intervalo de Classe - NU_NOTA_COMP5
[114.286, 128.571)    2512
[0.0, 14.286)         2158
[157.143, 171.429)    2019
[128.571, 142.857)    1691
[171.429, 185.714)    1553
[71.429, 85.714)      1437
[100.0, 114.286)      1427
[28.571, 42.857)       619
[57.143, 71.429)       507
[14.286, 28.571)       351
[42.857, 57.143)         0
[85.714, 100.0)          0
[142.857, 157.143)       0
[185.714, 200.0)         0
Name: count, dtype: int64