<a href="https://colab.research.google.com/github/VivianeSouza923/Python-Study/blob/main/Distruibui%C3%A7%C3%A3o_de_Frequ%C3%AAncia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/content/Companhia_MB.xlsx')
df

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,1,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra
5,6,casado,ensino fundamental,0.0,6.66,28,0,interior
6,7,solteiro,ensino fundamental,NaN,6.86,41,0,interior
7,8,solteiro,ensino fundamental,NaN,7.39,43,4,capital
8,9,casado,ensino médio,1.0,7.59,34,10,capital
9,10,solteiro,ensino médio,NaN,7.44,23,6,outra
10,11,casado,ensino médio,2.0,8.12,33,6,interior
11,12,solteiro,ensino fundamental,NaN,8.46,27,11,capital
12,13,solteiro,ensino médio,NaN,8.74,37,5,outra
13,14,casado,ensino fundamental,3.0,8.95,44,2,outra
14,15,casado,ensino médio,0.0,9.13,30,5,interior
15,16,solteiro,ensino médio,NaN,9.35,38,8,outra
16,17,casado,ensino médio,1.0,9.77,31,7,capital
17,18,casado,ensino fundamental,2.0,9.80,39,7,outra
18,19,solteiro,superior,NaN,10.53,25,8,interior
19,20,solteiro,ensino médio,NaN,10.76,37,4,interior
20,21,casado,ensino médio,1.0,11.06,30,9,outra
21,22,solteiro,ensino médio,NaN,11.59,34,2,capital
22,23,solteiro,ensino fundamental,NaN,12.00,41,0,outra
23,24,casado,superior,0.0,12.79,26,1,outra
24,25,casado,ensino médio,2.0,13.23,32,5,interior
25,26,casado,ensino médio,2.0,13.60,35,0,outra
26,27,solteiro,ensino fundamental,NaN,13.85,46,7,outra
27,28,casado,ensino médio,0.0,14.69,29,8,interior
28,29,casado,ensino médio,5.0,14.71,40,6,interior
29,30,casado,ensino médio,2.0,15.99,35,10,capital
30,31,solteiro,superior,NaN,16.22,31,5,outra
31,32,casado,ensino médio,1.0,16.61,36,4,interior
32,33,casado,superior,3.0,17.26,43,7,capital
33,34,solteiro,superior,NaN,18.75,33,7,capital
34,35,casado,ensino médio,2.0,19.40,48,11,capital
35,36,casado,superior,3.0,23.30,42,2,interior

In [3]:
# frequência: para se ter uma ideia da frequência dos dados. Vou usar a value_count() para fazer essa tarefa.

fabs_estado_civil = df['Estado Civil'].value_counts() # isso será usado para calcular a frequência relativa nas próximas células.
fabs_estado_civil

Estado Civil
casado      20
solteiro    16
Name: count, dtype: int64

In [4]:
# frequência dos dados na coluna Grau de Instrução. Obviamente, também vou usar a value_count() para fazer isso.

fabs_grau_ins = df['Grau de Instrução'].value_counts()
fabs_grau_ins

Grau de Instrução
ensino médio          18
ensino fundamental    12
superior               6
Name: count, dtype: int64

In [5]:
# agora dá para calcular a frequência relativa, tanto para estado civil, quanto para grau de instrução.

# Como calculo a frquência relativa? pego a frequência (que é a frequência absoluta, que é a quantidade de vezes que a mesma resposta apareceu) dos dados
#obtida através da value_counts()).

# ou seja:

frel_estado_civil = fabs_estado_civil / len(df['Estado Civil'])
frel_estado_civil

Estado Civil
casado      0.555556
solteiro    0.444444
Name: count, dtype: float64

In [6]:
# frequência relativa de grau de instrução: usando a frequência absoluta de grau de instrução.

frel_grau_instrucao = fabs_grau_ins / len(df['Grau de Instrução'])
frel_grau_instrucao

Grau de Instrução
ensino médio          0.500000
ensino fundamental    0.333333
superior              0.166667
Name: count, dtype: float64

In [7]:
# os dados (que são variáveis quantitativas) da coluna salário estão em formato string (quantitativa é só número!!!), portanto bvou fazer essa substituição.

sal = {
    '4,00':4.00,
    '4,56':4.56,
    '5,25':5.25,
    '5,73':5.73,
    '6,26':6.26,
    '6,66':6.66,
    '6,86':6.86,
    '7,39':7.39,
    '7,59':7.59,
    '7,44':7.44,
    '8,12':8.12,
    '8,46':8.46,
    '8,74':8.74,
    '8,95':8.95,
    '9,13':9.13,
    '9,35':9.35,
    '9,77':9.77,
    '9,80':9.80,
    '10,53':10.53,
    '10,76':10.76,
    '11,06':11.06,
    '11,59':11.59,
    '12,00':12.00,
    '12,79':12.79,
    '13,23':13.23,
    '13,60':13.60,
    '13,85':13.85,
    '14,69':14.69,
    '14,71':14.71,
    '15,99':15.99,
    '16,22':16.22,
    '16,61':16.61,
    '17,26':17.26,
    '18,75':18.75,
    '19,40':19.40,
    '23,30':23.30,

}

df['Salario (x Sal Min)'].replace(sal, inplace=True)
df

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,1,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra
5,6,casado,ensino fundamental,0.0,6.66,28,0,interior
6,7,solteiro,ensino fundamental,NaN,6.86,41,0,interior
7,8,solteiro,ensino fundamental,NaN,7.39,43,4,capital
8,9,casado,ensino médio,1.0,7.59,34,10,capital
9,10,solteiro,ensino médio,NaN,7.44,23,6,outra
10,11,casado,ensino médio,2.0,8.12,33,6,interior
11,12,solteiro,ensino fundamental,NaN,8.46,27,11,capital
12,13,solteiro,ensino médio,NaN,8.74,37,5,outra
13,14,casado,ensino fundamental,3.0,8.95,44,2,outra
14,15,casado,ensino médio,0.0,9.13,30,5,interior
15,16,solteiro,ensino médio,NaN,9.35,38,8,outra
16,17,casado,ensino médio,1.0,9.77,31,7,capital
17,18,casado,ensino fundamental,2.0,9.80,39,7,outra
18,19,solteiro,superior,NaN,10.53,25,8,interior
19,20,solteiro,ensino médio,NaN,10.76,37,4,interior
20,21,casado,ensino médio,1.0,11.06,30,9,outra
21,22,solteiro,ensino médio,NaN,11.59,34,2,capital
22,23,solteiro,ensino fundamental,NaN,12.00,41,0,outra
23,24,casado,superior,0.0,12.79,26,1,outra
24,25,casado,ensino médio,2.0,13.23,32,5,interior
25,26,casado,ensino médio,2.0,13.60,35,0,outra
26,27,solteiro,ensino fundamental,NaN,13.85,46,7,outra
27,28,casado,ensino médio,0.0,14.69,29,8,interior
28,29,casado,ensino médio,5.0,14.71,40,6,interior
29,30,casado,ensino médio,2.0,15.99,35,10,capital
30,31,solteiro,superior,NaN,16.22,31,5,outra
31,32,casado,ensino médio,1.0,16.61,36,4,interior
32,33,casado,superior,3.0,17.26,43,7,capital
33,34,solteiro,superior,NaN,18.75,33,7,capital
34,35,casado,ensino médio,2.0,19.40,48,11,capital
35,36,casado,superior,3.0,23.30,42,2,interior

In [8]:
# amplitude total em VARIÁVEIS QUANTITATIVAS:

# A AMPLITUDE TOTAL É DADA PELA DIFERENÇA DE MAIOR VALOR PELO MENOR VALOR.

amp_sal = df['Salario (x Sal Min)'].max() - df['Salario (x Sal Min)'].min()
amp_sal

19.3

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   N                      36 non-null     int64
 1   Estado Civil           36 non-null     object
 2   Grau de Instrução      36 non-null     object
 3   N de Filhos            20 non-null     float64
 4   Salario (x Sal Min)    36 non-null     float64
 5   Anos                   36 non-null     int64
 6   Meses                  36 non-null     int64
 7   Região de Procedência  36 non-null     object
dtypes: float64(2), int64(3), object(3)
memory usage: 2.4+ KB

In [11]:
# frequência absoluta da idade:

fabs_idade = df['Anos'].value_counts()
fabs_idade

Anos
26    2
34    2
35    2
31    2
30    2
32    2
33    2
37    2
43    2
41    2
40    2
36    2
23    1
27    1
28    1
44    1
38    1
20    1
39    1
25    1
46    1
29    1
48    1
42    1
Name: count, dtype: int64

In [12]:
# frequência relativa dda idade:

frel_idade = fabs_idade / len(df['Anos'])
frel_idade

Anos
26    0.055556
34    0.055556
35    0.055556
31    0.055556
30    0.055556
32    0.055556
33    0.055556
37    0.055556
43    0.055556
41    0.055556
40    0.055556
36    0.055556
23    0.027778
27    0.027778
28    0.027778
44    0.027778
38    0.027778
20    0.027778
39    0.027778
25    0.027778
46    0.027778
29    0.027778
48    0.027778
42    0.027778
Name: count, dtype: float64

In [13]:
import math

# VARIÁVEL SALÁRIO

#cálculo do número de classes:

n = 36
k = 1 + 3.3*math.log10(n)
k

6.135798252532048

In [14]:
# AMplitude de cada classe:
k = 6

AmplitudeDeClasse = amp_sal / k
AmplitudeDeClasse

3.216666666666667

In [17]:
# CONSTRUÇÃO DAS CLASSES:

bins = [4, 7.22, 10.44, 13.66, 16.88, 20.1, 23.32]

In [18]:
# botando os dados categóricos
# nova coluna = pd.cut(coluna que será segmentada em intervalos, bins - que contém o número de classes desejadas para segmentar os dados da coluna, )
# right=False - especifica que os intervalos são fechados à esquerda e aberto à direita
df['Intervalo de Classe'] = pd.cut(df['Salario (x Sal Min)'], bins, right=False)
df

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência,Intervalo de Classe
0,1,solteiro,ensino fundamental,NaN,4.00,26,3,interior,"[4.0, 7.22)"
1,2,casado,ensino fundamental,1.0,4.56,32,10,capital,"[4.0, 7.22)"
2,3,casado,ensino fundamental,2.0,5.25,36,5,capital,"[4.0, 7.22)"
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra,"[4.0, 7.22)"
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra,"[4.0, 7.22)"
5,6,casado,ensino fundamental,0.0,6.66,28,0,interior,"[4.0, 7.22)"
6,7,solteiro,ensino fundamental,NaN,6.86,41,0,interior,"[4.0, 7.22)"
7,8,solteiro,ensino fundamental,NaN,7.39,43,4,capital,"[7.22, 10.44)"
8,9,casado,ensino médio,1.0,7.59,34,10,capital,"[7.22, 10.44)"
9,10,solteiro,ensino médio,NaN,7.44,23,6,outra,"[7.22, 10.44)"
10,11,casado,ensino médio,2.0,8.12,33,6,interior,"[7.22, 10.44)"
11,12,solteiro,ensino fundamental,NaN,8.46,27,11,capital,"[7.22, 10.44)"
12,13,solteiro,ensino médio,NaN,8.74,37,5,outra,"[7.22, 10.44)"
13,14,casado,ensino fundamental,3.0,8.95,44,2,outra,"[7.22, 10.44)"
14,15,casado,ensino médio,0.0,9.13,30,5,interior,"[7.22, 10.44)"
15,16,solteiro,ensino médio,NaN,9.35,38,8,outra,"[7.22, 10.44)"
16,17,casado,ensino médio,1.0,9.77,31,7,capital,"[7.22, 10.44)"
17,18,casado,ensino fundamental,2.0,9.80,39,7,outra,"[7.22, 10.44)"
18,19,solteiro,superior,NaN,10.53,25,8,interior,"[10.44, 13.66)"
19,20,solteiro,ensino médio,NaN,10.76,37,4,interior,"[10.44, 13.66)"
20,21,casado,ensino médio,1.0,11.06,30,9,outra,"[10.44, 13.66)"
21,22,solteiro,ensino médio,NaN,11.59,34,2,capital,"[10.44, 13.66)"
22,23,solteiro,ensino fundamental,NaN,12.00,41,0,outra,"[10.44, 13.66)"
23,24,casado,superior,0.0,12.79,26,1,outra,"[10.44, 13.66)"
24,25,casado,ensino médio,2.0,13.23,32,5,interior,"[10.44, 13.66)"
25,26,casado,ensino médio,2.0,13.60,35,0,outra,"[10.44, 13.66)"
26,27,solteiro,ensino fundamental,NaN,13.85,46,7,outra,"[13.66, 16.88)"
27,28,casado,ensino médio,0.0,14.69,29,8,interior,"[13.66, 16.88)"
28,29,casado,ensino médio,5.0,14.71,40,6,interior,"[13.66, 16.88)"
29,30,casado,ensino médio,2.0,15.99,35,10,capital,"[13.66, 16.88)"
30,31,solteiro,superior,NaN,16.22,31,5,outra,"[13.66, 16.88)"
31,32,casado,ensino médio,1.0,16.61,36,4,interior,"[13.66, 16.88)"
32,33,casado,superior,3.0,17.26,43,7,capital,"[16.88, 20.1)"
33,34,solteiro,superior,NaN,18.75,33,7,capital,"[16.88, 20.1)"
34,35,casado,ensino médio,2.0,19.40,48,11,capital,"[16.88, 20.1)"
35,36,casado,superior,3.0,23.30,42,2,interior,"[20.1, 23.32)"

In [19]:
df['Intervalo de Classe'].value_counts()

Intervalo de Classe
[7.22, 10.44)     11
[10.44, 13.66)     8
[4.0, 7.22)        7
[13.66, 16.88)     6
[16.88, 20.1)      3
[20.1, 23.32)      1
Name: count, dtype: int64